{% extends 'base/base.html' %}
{% block title %}
{{ project_info.0 }} | {{ block.super }}
{% endblock title %}
{% block head %}
{% endblock head %}
{% block style %}
{% endblock style %}
{% block body %}
<div id="main" class="container-fluid">
<div class="row">
    <div class="col-2">
        <h4>篩選條件</h4>
        <h5 style="margin: 10px 0">物種</h5>
        <ul style="list-style: none">
            <li>       
                <label class="form-check-label">         
                <input class="filter" type="radio" name="species-filter" value="" checked>
                  全部
                </label>
            </li>
            {% for i in species %}
            <li>
                <label class="form-check-label">
                <input class="filter" type="radio" name="species-filter" value="{{ i.annotation__species }}">
                    {{ i.annotation__species }}
                </label>

            </li>
            {% endfor %}
        </ul>
        <h5 style="margin: 10px 0">樣區</h5>
        <ul style="list-style: none">
            <li>
                <label class="form-check-label">             
                <input class="filter" type="radio" name="sa-filter" value="" checked>
                  全部
                </label>

            </li>
            {% for i in studyarea %}
            <li>
                <label class="form-check-label">
                <input class="filter" type="radio" name="sa-filter" value="{{ i.name }}">
                    {{ i.name }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <h5 style="margin: 10px 0">相機位置</h5>
        <ul style="list-style: none">
            <li>
                <label class="form-check-label">             
                <input class="filter" type="radio" name="deployment-filter" value="" checked>
                  全部
                </label>

            </li>
            {% for i in deployment %}
            <li>
                <label class="form-check-label">
                <input class="filter" type="radio" name="deployment-filter" value="{{ i.name }}">
                    {{ i.name }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <h5>拍攝日期</h5>
        <input type="text" id="date" readonly style="border:0; width: 100%; margin-bottom: 5px; text-align: center;">
        <div id="date-slider"></div>
          
    </div>
    <div class="col-9">
        <h4>{{ project_info.0 }}</h4>
        <table class="table table-striped" style="margin-bottom: 20px">
            <tr>
                <td>委辦單位</td>
                <td>{{ project_info.1 }}</td>
            </tr>
            <tr>
                <td>計畫編號</td>
                <td>{{ project_info.2 }}</td>
            </tr>
            <tr>
                <td>計畫主持人</td>
                <td>{{ project_info.3 }}</td>
            </tr>
            <tr>
                <td>計畫時間</td>
                <td>{{ project_info.4 }} ~ {{ project_info.5 }}</td>
            </tr>
        </table>
        <h4>影像列表</h4>
        <table class="table" id="img-table">
            <thead class="thead-light">
                <tr>
                    <td>樣區</td>
                    <td>相機位置</td>
                    <td>檔名</td>
                    <td>拍攝時間</td>
                    <td>物種</td>
                    <td>年齡</td>
                    <td>性別</td>
                    <td>角況</td>
                    <td>備註</td>
                    <td>個體ID</td>
                    <td>影像</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>
{% endblock body %}

{% block script %}
<script>
    // datatable
    document.addEventListener("DOMContentLoaded", function (event) {

    $("#date-slider").slider({
      range: true,
      min: new Date('{{ earliest_date }}').getTime() / 1000,
      max: new Date('{{ latest_date }}').getTime() / 1000,
      step: 86400,
      values: [ new Date('{{ earliest_date }}').getTime() / 1000, new Date('{{ latest_date }}').getTime() / 1000 ],
      slide: function( event, ui ) {
        $("#date").val((new Date(ui.values[ 0 ] *1000).toISOString().substring(0, 10)) + " 至 " + 
        (new Date(ui.values[1]*1000)).toISOString().substring(0, 10));
      },
      stop: function( event, ui ) {
          console.log(table);
          $("#img-table").DataTable().draw()}
    });
    $("#date").val((new Date($("#date-slider").slider("values",0)*1000).toISOString().substring(0, 10)) + " 至 " + 
    (new Date($("#date-slider").slider("values",1)*1000)).toISOString().substring(0, 10));


        let table = $("#img-table").DataTable({
            ordering: false,
            processing: false,
            serverSide: true,
            searching: false,
            ajax: {
                url: "{% url 'data' %}",
                data: function ( d ) {
                    d.pk = "{{ pk }}";
                    d.species = $("input[name=species-filter]:checked").val()
                    d.sa =  $("input[name=sa-filter]:checked").val()
                    d.deployment =  $("input[name=deployment-filter]:checked").val()
                    d.start_date = (new Date($("#date-slider").slider("values",0)*1000)).toISOString().substring(0, 10)
                    d.end_date = (new Date($("#date-slider").slider("values",1)*1000)).toISOString().substring(0, 10)
                }
            }, 
            order: [[0, "asc"]], 
            drawCallback:function(){
            // lazy loading for images
            var watcher = new IntersectionObserver(onEnterView);
            var lazyImages = document.querySelectorAll("img.lazy");
            for (let image of lazyImages) {
                watcher.observe(image); // 開始監視
            }

            function onEnterView(entries, observer) {
                for (let entry of entries) {
                    if (entry.isIntersecting) {
                        var img = entry.target;
                        img.setAttribute("src", img.dataset.src);
                        observer.unobserve(img); 
                    }
                }
            }
            },
            columns: [
                        {data: "saname"},
                        {data: "dname"},
                        {data: "filename" },
                        {data: "datetime"},
                        {data: "species"},
                        {data: "lifestage"},
                        {data: "sex"},
                        {data: "antler"},
                        {data: "remarks"},
                        {data: "animal_id"},
                        {data: "id"},
                    ], 
    });

    $('.filter').on('click', function() {
        table.draw();
    });

  $('input[id=date]').bind("mouseup",function() {
    console.log($('input[id=date]'));
  });



});



</script>
{% endblock script %}