{% extends 'base/base.html' %}  {% load static %} {% load tag_library %} {% block title %} search {% endblock title %} {% block script %} {% if env == "dev" %}
<script src="{% static 'js/search.dev.js' %}"></script>
{% else %}
<script src="/asset/js/search.min.js"></script>
{% endif %} {% endblock %} {% block style %}
<link href="{% static 'css/search_index.css' %}" rel="stylesheet">
{% endblock %} {% block body %}
<div class="container content">
  <!-- The Modal -->
  <div id="myModal" class="my-modal">
    <div class="my-modal-content">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
      <span id="my-modal-text ml-6">Loading...</span>
    </div>
  </div>
  <!-- end The Modal -->

  {% include "./inc_calculate_description.html" %}

  <div class="row mb-10">
    <h4 class="title-dark px-3 py-0">資料篩選與計算</h4>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div id="app-search"></div>
    </div>
  </div>
</div>
{% endblock %}
