  /* datatable loader */
  .dataTables_wrapper .dataTables_processing {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 150px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/static/icon/Leaves-1.8s-200px.gif") no-repeat center;
    background-size: 150px;
    z-index: 1099;
    border: 0;
  }

  .dataTables_wrapper .dataTables_processing:after {
    content: "處理中";
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(37, 116, 85);
    width: 100px;
    height: 20px;
    margin: auto;
    z-index: 1199;
    text-align: center;
  }

  /* datatable page button */
  .page-item.active .page-link {
    background-color: rgb(228, 224, 224) !important;
    border: 1px solid rgb(228, 224, 224);
  }

  .page-link {
    color: black !important;
  }

  /* .dataTables_wrapper {
    background-color: white;
  } */

  #img-table {
    margin: 0 auto;
  }

  #img-table tbody tr:hover {
    background: #f8f8f8;
    cursor: pointer;
  }

  #img-table_wrapper {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .oversight:hover {
    color: lightgrey;
  }

  .back:hover {
    color: lightgrey;
  }

  .btn-new {
    background-color: white;
    border: 1px solid #cccccc;
    color: black !important;
  }

  .ui-autocomplete {
    z-index: 2147483647;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
  }

  /* radio style */
  input[type="radio"] {
    display: none;
  }


  input[name="species-filter"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  /* window size */

  .header {
    height: 70px;
  }

  .remain.col-2 {
    /*overflow-y: scroll;*/
    height: calc(100vh - 126px);
    background-color: yellow;
  }

  .scroll-part {
    overflow-y: scroll;
    height: calc(100vh - 180px);
  }

  .remain.col-10 {
    position: relative;
    height: calc(100vh - 126px);
  }

  footer {
    display: none;
  }

  /* studyarea */
  /* .studyarea-list-area ul {
    padding: 0;
    list-style: none;
  }

  .studyarea-list-area li {
    padding: 15px 0;
    cursor: pointer;
  } */

  /* sub studyarea */
  /* .collapse>li {
    margin-left: 10%;
  }

  .collapse-s>li {
    margin-left: 20%;
  } */

  /* font small */
  .font-sm {
    font-size: 15px;
  }

  .edit-next:hover, .edit-prev:hover, .edit-xx:hover {
    color: lightgrey;
  }


  .cannot-load {
    color: darkgrey;
    margin: auto
  }

  .fs-14 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 20px;
  }

  .last_updated {
    color: grey;
    font-size: 12px
  }


  .h-120 {
    height: 120px
  }

  .hr-style {
    margin: auto;
    width: 90%
  }

  .ls-none {
    list-style: none
  }

  .mt-50p {
    margin-top: 50px
  }

  .w-12 {
    width: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .w-30 {
    width: 30px;
    margin-right: 10px;
    color: rgb(37, 116, 85)
  }


  .h-100p {
    height: 100px;
  }

  .check-mark {
    color: rgb(37, 116, 85) !important;
  }

  #editModal .modal-dialog {
    max-width: 80% !important;
  }

  .sort-icon {
    color: black;
    height: 14px;
    margin-left: 5px;
    opacity: 0.5
  }

  .sort-icon-active {
    color: rgb(37, 116, 85);
    height: 14px;
    margin-left: 5px;
  }

  body{
    background: #f7f7f7 !important;
  }

  .innbox {
    padding-top: 0px;
    }
  
  #img-table thead tr td{
    background: #257455 !important;
    color: #fff;
  }
  
  #img-table tbody tr td{
    background: #fff !important;
    color:black;
  }


  /* #times::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><g id="Group_739" data-name="Group 739" transform="translate(-408 -2324)"><g id="Ellipse_50" data-name="Ellipse 50" transform="translate(408 2324)" fill="#fff" stroke="#257455" stroke-width="1.5"><circle cx="11" cy="11" r="11" stroke="none"/><circle cx="11" cy="11" r="10.25" fill="none"/></g><g id="Group_740" data-name="Group 740" transform="translate(419 2329.5)"><line id="Line_16" data-name="Line 16" y2="4.998" transform="translate(0)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="1.5"/><line id="Line_17" data-name="Line 17" x2="3.332" y2="3.332" transform="translate(0 4.998)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="1.5"/></g></g></svg>');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    opacity: 0.6;
  } */
  
.icon-clock {
  position: absolute;
  background: url("../image/icon-clock.svg") no-repeat top center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /* background-size: cover; */
  top: 12px;
  right: 10px
}



  #edit-image video{
    padding-top : 75px;
    padding-bottom : 75px;
  }

  #downloadModal{
    top: 0px !important;
    z-index: 9999;
}
  
.check2-layerbox {
  display: none;
}