

/* 以下因應新切版 */
input[name=start_altitude], input[name=end_altitude] {
  margin: 10px 0;
}

li .sa-title .arrup:not(.close) {
  transform: rotate(180deg);
  transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
}

li .sa-title .arrup.close {
  transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
}



#times::-webkit-calendar-picker-indicator {
  position: absolute;
  background: url("/static/icon/clock.svg") no-repeat top center !important;;
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 12px;
  right: 15px;
}


.select2-container {
  z-index: 1600;
}

.input-item .select2-container--default .select2-selection--single {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 45px;
  border-radius: 5px;
  font-size: 16px;
  display: flex
}


.input-item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

.input-item .select2-container--default .select2-selection--single .select2-selection__choice {
  background: #59AE68;
  color: #FFF;
  border: 0;
  padding: 5px 25px 5px 15px;
  border-radius: 20px;
  margin-bottom: 0
}

.input-item .select2-container--default .select2-selection--single .select2-selection__choice__remove {
  border: 0;
  right: 5px;
  left: inherit;
  color: #FFF;
  top: 50%;
  margin-top: -13px
}

.input-item .select2-container--default .select2-selection--single .select2-selection__choice__remove:hover {
  background: none;
  color: #FFF
}

.input-item .select2-container--default .select2-selection--single .select2-selection__choice__display {
  padding: 0;
  line-height: 25px
}


.d-flex {
  display: flex;
}

.jc-start-ai-center {
  justify-content: start;
  align-items: center;
}

.w-80 {
  width: 80%;
}




button.disabled {
  opacity: 0.4;
}

#edit-image video{
  padding-top : 75px;
  padding-bottom : 75px;
}

.ui-autocomplete {
  z-index: 2147483647;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}


/* 以下舊css */

/*
  .dataTables_wrapper .dataTables_processing {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 150px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/static/icon/Leaves-1.8s-200px.gif") no-repeat center;
    background-size: 150px;
    z-index: 1000;
    border: 0;
  }

  .dataTables_wrapper .dataTables_processing:after {
    content: "處理中";
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(37, 116, 85);
    width: 100px;
    height: 20px;
    margin: auto;
    z-index: 1199;
    text-align: center;
  }

.page-item .page-link{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: #257455;
    border: 1px solid #257455;
    flex: 0 0 40px;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s
  }

  .page-item.active .page-link{
    /* background-color: rgb(228, 224, 224) !important; */
    /* border: 1px solid rgb(228, 224, 224); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: #257455;
    color:#FFF !important;
    border: 1px solid #257455;
    flex: 0 0 40px;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
  }
  
  .page-link {
    color: black !important;
  } 
  
  .dataTables_wrapper {
    background-color: white;
  } 
  #img-table {
    margin: 0 auto;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .dataTables_scrollHeadInner > .phototable {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .dataTables_scrollBody{
    position:  static !important;
  }
  .dataTables_scrollHeadInner{
    width: 100% !important;
  }

  .dataTables_scrollHeadInner > table{
    width: 100% !important;
  }

  #img-table_wrapper {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  } 
  #img-table tr:hover {
    background: #f8f8f8;
    cursor: pointer;
  }


  .oversight:hover {
    color: lightgrey;
  }

  .back:hover {
    color: lightgrey;
  }

  .btn-new {
    background-color: white;
    border: 1px solid #cccccc;
    color: black !important;
  }

  .ui-autocomplete {
    z-index: 2147483647;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
  }

  input[type="radio"] {
    display: none;
  }


  input[name="species-filter"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  /* window size 

  .header {
    height: 70px;
  } 
  
  footer {
    display: none;
  }
  

  .remain.col-2 {
    height: calc(100vh - 126px);
    background-color: yellow;
  }

  
  .scroll-part {
    overflow-y: scroll;
    height: calc(100vh - 180px);
  }

  .remain.col-10 {
    position: relative;
    height: calc(100vh - 126px);
  }

 

  .studyarea-list-area ul {
    padding: 0;
    list-style: none;
  }

  .studyarea-list-area li {
    padding: 15px 0;
    cursor: pointer;
  } 

 .collapse>li {
    margin-left: 10%;
  }

  .collapse-s>li {
    margin-left: 20%;
  } 

  .font-sm {
    font-size: 15px;
  }

  .edit-next:hover, .edit-prev:hover, .edit-xx:hover {
    color: lightgrey;
  }


  .cannot-load {
    color: darkgrey;
    margin: auto
  }

  .fs-14 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 20px;
  }

  .last_updated {
    color: grey;
    font-size: 12px
  }


  .h-120 {
    height: 120px
  }

  .hr-style {
    margin: auto;
    width: 90%
  }

  .ls-none {
    list-style: none
  }

  .mt-50p {
    margin-top: 50px
  }

  .w-12 {
    width: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .w-30 {
    width: 30px;
    margin-right: 10px;
    color: rgb(37, 116, 85)
  }


  .h-100p {
    height: 100px;
  }

  .check-mark {
    color: rgb(37, 116, 85) !important;
  }

  #editModal .modal-dialog {
    max-width: 80% !important;
  }

  .sort-icon {
    color: #78d989;
    height: 14px;
    margin-left: 5px;
    opacity: 0.5
  }

  .sort-icon-active {
    color: #78d989;
    height: 14px;
    margin-left: 5px;
  }

  body{
    background: #f7f7f7 !important;
    font-size: 1rem !important;
    font-family: var(--bs-font-sans-serif) !important;
    line-height: normal !important;
    letter-spacing: 0.05em !important;
  }




  #alert-content > a{
    color: #0d6efd !important;
    text-decoration: underline !important;
  }
  


  .innbox {
    padding-top: 0px;
    }
  
  #img-table thead tr td{
    background: #257455 !important;
    color: #fff;
  }
  
  #img-table tbody tr td{
    background: #fff !important;
    color:black;
  }


  #times::-webkit-calendar-picker-indicator {
    position: absolute;
    background: url("../image/icon-clock.svg") no-repeat top center !important;;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 12px;
    right: 10px;
  }
  


  #edit-image video{
    padding-top : 75px;
    padding-bottom : 75px;
  }

  #downloadModal{
    top: 0px !important;
    z-index: 9999;
}
  
 #editModal{
  top: 0px !important;
  z-index: 9999;
}


.check2-layerbox {
  display: none;
}

.page-item .page-link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  color: #257455;
  border: 1px solid #257455;
  flex: 0 0 40px;
  transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
  margin: 7px;
}

@media only screen and (min-width: 1000px) {
  .page-num .num:hover {
    border: 1px solid #257455;
    background-color: #257455;
    color: #FFF;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s
  }
}

@media only screen and (max-width: 767px) {
  .page-num .num {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    font-size: 16px
  }
}

.page-item.active .page-link {
  border: 1px solid #257455;
  background-color: #257455;
  color: #FFF
}

#img-table_previous{
  border:none !important;
  font-size: 18px !important;
  padding-right: 15px !important;
  color:black !important;

}
#img-table_previous > a{
  border:none !important;
  background-color: #f8f8f8 !important;
  color: black;
}

 #img-table_previous a:hover {
  background: none !important;
  cursor: none !important;
} 

#img-table_next{
  border:none !important;
  font-size: 18px !important;
  padding-left: 15px;
  color:black !important;
}
#img-table_next > a{
  border:none !important;
  background-color: #f8f8f8 !important;
  color: black;
}


#img-table_length{
  padding-top: 0.85em;
  z-index: 5000;
}


.page-link:focus {
  box-shadow: none !important;
}


.btn-greeno{
  min-width: 120px;
}

.deleteButton{
  background: #CB5757 !important;
  color: #FFF !important;
  border-color: #FFF !important;
  padding: 5px 10px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
  margin-right: 10px !important;
  min-width: 80px !important;
  transition: all .3s !important;
  -moz-transition: all .3s !important;
  -o-transition: all .3s !important;
  -ms-transition: all .3s !important;
  -webkit-transition: all .3s !important;
}

.editButton{
  background: #257455 !important;
  color: #FFF !important;
  border-color: #FFF !important;
  padding: 5px 10px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
  margin-right: 10px !important;
  min-width: 80px !important;
  transition: all .3s !important;
  -moz-transition: all .3s !important;
  -o-transition: all .3s !important;
  -ms-transition: all .3s !important;
  -webkit-transition: all .3s !important;
}
div.dt-buttons{
  padding-bottom: 10px !important;
}
*/