  /* datatable loader */
  .dataTables_wrapper .dataTables_processing {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 150px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/static/icon/Leaves-1.8s-200px.gif") no-repeat center;
    background-size: 150px;
    z-index: 1099;
    border: 0;
  }

  .dataTables_wrapper .dataTables_processing:after {
    content: "處理中";
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(37, 116, 85);
    width: 100px;
    height: 20px;
    margin: auto;
    z-index: 1199;
    text-align: center;
  }

  /* datatable page button */
  .page-item.active .page-link {
    background-color: rgb(228, 224, 224) !important;
    border: 1px solid rgb(228, 224, 224);
  }
  .page-link {
    color: black !important;
  }

  .dataTables_wrapper {
    background-color: white;
  }

  #img-table {
    margin: 0 auto;
  }

  #img-table tbody tr:hover {
    background: #f8f8f8;
    cursor: pointer;
  }

  #img-table_wrapper {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .oversight:hover {
    color: lightgrey;
  }

  .back:hover {
    color: lightgrey;
  }

  .btn-new {
    background-color: white;
    border: 1px solid #cccccc;
    color: black !important;
  }

  .ui-autocomplete {
    z-index: 2147483647;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
  }

  /* radio style */
  input[type="radio"] {
    display: none;
  }

  
  input[name="species-filter"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  /* window size */

  .header {
    height: 70px;
  }

  .remain.col-2 {
    /*overflow-y: scroll;*/
    height: calc(100vh - 126px);
    background-color: yellow;
  }

  .scroll-part {
    overflow-y: scroll;
    height: calc(100vh - 180px);
  }
  .remain.col-10 {
    position: relative;
    height: calc(100vh - 126px);
  }

  footer {
    display: none;
  }

  /* studyarea */
  .studyarea-list-area ul {
    padding: 0;
    list-style: none;
  }

  .studyarea-list-area li {
    padding: 15px 0;
    cursor: pointer;
  }

  /* sub studyarea */
  .collapse > li {
    margin-left: 10%;
  }

  .collapse-s > li {
    margin-left: 20%;
  }

  /* font small */
  .font-sm {
    font-size: 15px;
  }

.edit-next:hover, .edit-prev:hover{
  color: lightgrey;
}

.cannot-load {
    color: darkgrey; 
    margin: auto
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.last_updated {
    color: grey; 
    font-size:12px
}


.h-120 {
    height: 120px
}

.hr-style {
    margin: auto; 
    width: 90%
}

.ls-none {
    list-style: none
}

.mt-50p {
    margin-top: 50px
}

.w-12 {
    width: 12px;
    margin-right: 5px;
    margin-left: 5px;
  }


  .h-100p {
    height: 100px;
  }

  .check-mark{
    color: rgb(37, 116, 85) !important;
}
