ENV=dev
DEBUG=on
SECRET_KEY=no-secret
DATABASE_URL=postgres://user:password@host:5432/dbname
ALLOWED_HOSTS=127.0.0.1
STATIC_ROOT=/ct21-volumes/static
MEDIA_ROOT=../../ct21-volumes/media
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=secret
AWS_SES_REGION_NAME=region
AWS_SES_REGION_ENDPOINT=endpoint
AWS_S3_BUCKET=bucket
CT_BCC_EMAIL_LIST=list
CT_SERVICE_EMAIL=email
ORCID_CLIENT_ID=1234
ORCID_CLIENT_SECRET=5678