{% extends 'base/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

{% endblock head %}
{% block style %}
<style>
        .nav-link {
            color: gray;
        }

        .nav-link:hover {
            color: lightgrey;
        } 

    .btn-new {
        background-color: white;
        border: 1px solid #cccccc;
    }

    .btn-new[title='請設置權限']{
        color: #6c757d !important;  
    }

    /* color for select */
    .check-mark{
        color: rgb(37, 116, 85);
    }

</style>
{% endblock style %}
{% block body %}
{% if is_authorized %}
<div class="container content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
            <div class="row mb-3">
                <a class="text-gray back text-decoration-none" href="{% url 'project_detail' pk %}"><i class="fa fa-chevron-left"></i> 返回計畫首頁</a>
            </div>
            <h4 class="title-dark">計畫管理</h4>
            <nav class="py-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_basic' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto"></i> 基本資訊 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_deployment' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto"></i> 相機位置管理 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color: rgb(37, 116, 85)" href="{% url 'edit_project_members' pk %}">
                            <i class="fa fa-xs fa-pencil px-2 py-auto"></i> 計畫成員 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_license' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto"></i> 創用CC授權 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         
        <div class="col-10">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2">計畫成員</p>   
                <form id="addProjectMember" novalidate action="{% url 'edit_project_members' pk %}" method="post">
                    {% csrf_token %}
                    <div class="row py-3 d-flex justify-content-between">
                            <div class="col-2 my-auto text-end">
                                加入成員
                            </div>
                            <div class="col-4 my-auto">
                                <input type="text" class="form-control" placeholder="請輸入成員ORCiD或電子郵件" style="width: 100%" name="contact_query">
                            </div>
                            <div class="col-4 my-auto">
                                <select class="selectpicker form-control" data-width="100%" data-style="btn-new" name="role">
                                    <option value="project_admin">個別計畫承辦人</option>
                                    <option value="uploader">資料上傳者</option>
                                </select>
                            </div>
                            <div class="col-2 my-auto">
                                <a class="btn btn-orange" onClick="submitAddForm()">加入</a>
                            </div>
                            <input type="hidden" name="action" value="add">
                    </div>
                </form>
                {% comment %} <hr style="width: 90%"> {% endcomment %}
                <form id="editProjectMember" novalidate action="{% url 'edit_project_members' pk %}" method="post">
                {% csrf_token %}
                    <div class="row my-2 mt-4">
                        <table class="table table-striped mx-auto" id="allproject-table" style="width: 90%;">
                            <thead>
                            <tr>
                                <td style="width: 20%">計畫成員</td>
                                <td style="width: 35%">電子郵件</td>
                                <td style="width: 35%">權限設置</td>
                                <td style="width: 10%"></td>
                            </tr>
                            
                            </thead>
                            <tbody>
                                <!-- organization_admin -->
                                {% for i in organization_admin %}
                                <tr class="align-middle"  >
                                    <td style="width: 20%">{{ i.name }}</td>
                                    <td style="width: 35%">{{ i.email }}</td>
                                    <td style="width: 35%">
                                        <select class="selectpicker form-control" data-width="100%" data-style="btn-new" disabled>
                                            <option>計畫總管理人</option>
                                        </select>
                                    </td>
                                    <td style="width: 10%">
                                    </td>
                                </tr>
                                {% endfor %}

                                {% for i in members %}
                                <tr class="align-middle"  >
                                    <td style="width: 20%">{{ i.member.name }}</td>
                                    <td style="width: 35%">{{ i.member.email }}</td>
                                    <td style="width: 35%">
                                    <!-- disable change current user's (self) permission  -->
                                    {% if request.session.name == i.member.name %}
                                    <select class="selectpicker form-control" data-width="100%" data-style="btn-new" name="{{ i.member_id }}" id="{{ i.member_id }}" disabled>
                                    {% else %}
                                    <select class="selectpicker form-control" data-width="100%" data-style="btn-new" name="{{ i.member_id }}" id="{{ i.member_id }}">
                                    {% endif %}
                                        <option value="project_admin">個別計畫承辦人</option>
                                        <option value="uploader">資料上傳者</option>
                                    </select>
                                    </td>
                                    <td style="width: 10%" class="text-center">
                                    {% if request.session.name == i.member.name  %}
                                    <button class="btn btn-outline-secondary" disabled>移除</button>
                                    {% else %}
                                    <a class="btn btn-outline-secondary remove" data-id="{{ i.member_id }}" data-bs-toggle="modal" data-bs-target="#removeModal">移除</a>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" name="action" value="edit">
                </form>
            </div>    
            <div class="row mt-3 px-3">
                <div class="text-end px-0">
                    <a class="btn btn-outline-success" href="{% url 'project_detail' pk %}">取消</a>
                    <a class="btn btn-orange" onClick="submitEditForm()">儲存設定</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>確定移除？</h4>
                <form id="removeProjectMember" novalidate action="{% url 'edit_project_members' pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="memberid" id="memberid" value="">
                <input type="hidden" name="action" value="remove">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <a class="btn btn-danger" onClick="$('#removeProjectMember').submit()">移除</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
<a class="btn btn-outline-success" onClick="goBack()">回上一頁</a></div>
{% endif %}
{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

<script>
$( function() {
    // preselect role
    {% for i in members %}
        $('#{{ i.member_id }}').selectpicker('val', "{{ i.role }}"); 
    {% endfor %}

})
    function submitAddForm(){
        $('#addProjectMember').submit()
    }

    function submitEditForm(){
        $('#editProjectMember').submit()
    }


// pass variable to modal
$(document).on("click", ".remove", function () {
     var memberid = $(this).data('id');
     $(".modal-body #memberid").val( memberid );
});
</script>
{% endblock script %}