{% extends 'base/base.html' %}
{% block style %}
<style>
        .nav-link {
            color: gray;
        }

        .nav-link:hover {
            color: lightgrey;
        } 
</style>
{% endblock style %}
{% block body %}
<div class="container content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
            <h4 class="title-dark">計畫管理</h4>
            <nav class="py-2 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_basic' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto status" value='tets'></i> 基本資訊 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_deployment' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto status"></i> 相機位置管理 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_members' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto status"></i> 計畫成員 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_license' pk %}">
                            <i class="fa fa-xs fa-circle px-2 py-auto status"></i> 創用CC授權 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         
        <div class="col-10">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                        <p class="backgroud-dark text-white fw-bold px-3 py-2">計畫基本資訊</p>        

            </div>
        </div>     
    </div>
</div>
{% endblock body %}
{% block script %}
<script>
    $(function () {
        $('a.nav-link.active').css('color', 'rgb(37, 116, 85)');
        console.log($('a.nav-link.active').closest('.status'));
        $('a.nav-link.active').closest("i").removeClass('fa-circle');
        $('a.nav-link.active').closest('i').addClass('fa-pencil');
    })
</script>
{% endblock script %}