{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<style>

    th {
        font-weight: normal !important;
    }

    .nav-link {
        color: gray;
    }

    .nav-link:hover {
        color: lightgrey;
    } 
    
    .back:hover {
        color: lightgrey;
      }
    
    .studyarea-list-area {
        border-right: 1.5px solid #adb5bd;
        color: rgb(97, 106, 114)
    }

    .studyarea-list-area ul {
        padding: 0;
        list-style: none;
    }

   .studyarea-list-area li {
        padding: 15px 0 ;
        cursor: pointer
        
    }

    .studyarea-list-area input {
        padding: 0;
    }


    /* sub studyarea */
    .collapse > li {
        margin-left: 10%
    }

    .btn-new {
        background-color: white;
        border: 1px solid #cccccc;
    }

    .form-control {
        border-color: #cccccc 
    }

    /* disable input number arrows */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    #deployment-list {
        min-height: 540px;
    }

    /*
    .current_sa {
        font-weight: bold;
    }*/

</style>
{% endblock style %}
{% block body %}
{% if is_authorized %}
<div class="container content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-2 list">
            <div class="row mb-3">
                <a class="text-gray back text-decoration-none" href="{% url 'project_info' pk %}"><i class="fa fa-chevron-left"></i> 返回計畫資訊</a>
            </div>
            <h4 class="title-dark">計畫管理</h4>
            <nav class="py-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_basic' pk %}">
                            <i class="icon fa fa-xs fa-circle px-2 py-auto"></i> 基本資訊 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color: rgb(37, 116, 85)" href="{% url 'edit_project_deployment' pk %}">
                            <i class="icon fa fa-xs fa-pencil px-2 py-auto"></i> 相機位置管理 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_members' pk %}">
                            <i class="icon fa fa-xs fa-circle px-2 py-auto"></i> 計畫成員 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_license' pk %}">
                            <i class="icon fa fa-xs fa-circle px-2 py-auto"></i> 
                            <span>創用CC授權</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         
        <div class="col-10">
            <div class="bg-white shadow px-0 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2 mb-0">相機位置管理</p>
                <div class="row px-3">
                <div class="col-2 me-0 studyarea-list-area">
                    <form novalidate>
                    {% csrf_token %}
                        <ul id="studyarea-list">
                        {% for i in study_area %}
                            {% if i.parent_id == None %}
                            <li>
                                <div  id="{{ i.id }}" onClick="selectStudyArea({{ i.id }},'{{ i.name }}')" data-bs-toggle="collapse" href="#collapse_{{ i.id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ i.id }}">
                                    <div style="display: inline-block;" class="studyarea-name">{{ i.name }}</div>
                                </div>
                            </li>
                            <div class="collapse d-none" id="collapse_{{ i.id }}">
                            <!-- 新增子樣區 -->
                            <!-- <li><input id="collapse_{{ i.id }}_add" data-parent="{{ i.id }}" class="addSubStudyArea border-0 shadow-none form-control bg-light" style="width: 90%;" type="text" placeholder=" + 新增子樣區"> 
                                    <div class="invalid-feedback addSubStudyArea-feedback" id="addSubStudyArea-feedback">
                                    </div></li>-->
                            </div>
                            {% endif %}
                        {% endfor %}
                            <li id="addStudyArea-li">
                                <a class="link text-decoration-none" data-bs-toggle="modal" data-bs-target="#addSaModal">
                                    + 新增樣區
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="col-10">
                    <div id="deployment-list" class="d-none">

                        <!-- 相機位置 -->
                        <form id="deploymentForm">
                            <div class="d-flex flex-row align-items-center justify-content-between my-3">
                                <div>
                                    <div class="d-flex align-items-center"><span class="fs-4 sa-name"></span> 
                                    <i class="icon fa fas fa-pencil px-2 link" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#editSaModal"></i></div>
                                </div>
                                <div class="w-50 text-end">
                                    <span class="required">*</span>座標大地基準：
                                    <select class="selectpicker form-control" data-width="40%" data-style="btn-new">
                                        <option>WGS84</option>
                                        <option>TWD97</option>
                                    </select>
                                    <img class="text-green ms-2" src="{% static 'icon/info.png' %}" style="height: 18px;" data-bs-toggle="tooltip" data-bs-placement="right" title="為準確呈現圖籍，請指明相機位置座標的大地基準。單一樣區內所有相機位置必須一致，因此更改設定會全部覆寫喔。">
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table mx-auto w-100 mb-5 align-middle" id="deployment-table">
                                        <thead class="table-light text-black">
                                            <tr>
                                                <th><span class="required">*</span>相機位置名稱</th>
                                                <th><span class="required">*</span>經度(X)</th>
                                                <th><span class="required">*</span>緯度(Y)</th>
                                                <th>海拔(公尺)</th>
                                                <th>植被類型</th>
                                                <th>土地覆蓋類型</th>
                                                <th>棄用</th>
                                                <th>刪除</th>
                                            </tr>                            
                                        </thead>
                                        <tbody id="deployment">
                                        </tbody>
                                    </table>
                                    <div class="mb-5 text-end">
                                        <a class="btn btn-light text-gray d-inline-block" onClick="addDeployment()">+ 新增相機位置</a>
                                        <a class="btn btn-orange d-inline-block" onClick="addDepolymentSubmit()">儲存設定</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of 相機位置 -->
                    </div>
                    <div id="initial-content" class="text-center">
                            <img
                            src="{% static 'image/empty-site.png' %}"
                            height='450px'
                            style="padding-top: 10%; padding-bottom: 5%"
                            srcset="{% static 'image/empty-site@2x.png' %}"
                            />
                            <h5 class="text-gray" style="padding-bottom: 10%">請選擇樣區</h5>
                    </div>
                </div>
                </div>
            </div>
            {% comment %} <div class="row mt-3 px-4">
                <div class="text-end px-0">
                    <a class="btn btn-outline-success" href="{% url 'project_detail' pk %}">取消</a>
                    <a class="btn btn-orange" onClick="addDepolymentSubmit()">儲存設定</a>
                </div>
            </div> {% endcomment %}
            </div>
        </div>     
    </div>
</div>

<!-- Add StudyArea Modal -->
<div class="modal fade" id="addSaModal" tabindex="-1" aria-labelledby="addSaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-dark">新增樣區</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="addStudyArea" class="form-control" type="text" placeholder="請輸入樣區名稱">
                <div class="ms-1 invalid-feedback" id="addStudyArea-feedback"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-orange d-inline-block" onClick="addSa()">送出</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit StudyArea Modal -->
<div class="modal fade" id="editSaModal" tabindex="-1" aria-labelledby="editSaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-dark">編輯樣區</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="editStudyArea" class="form-control" type="text" value="" placeholder="請輸入樣區名稱">
                <input id="editStudyArea-id" type="hidden" value="">
                <div class="ms-1 invalid-feedback" id="editStudyArea-feedback"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-danger d-inline-block" onClick="editSa('delete')">刪除</a>
                <a class="btn btn-orange d-inline-block" onClick="editSa('edit')">儲存</a>
            </div>
        </div>
    </div>
</div>
    



{% else %}
<div class="container content">
<a class="btn btn-outline-success" onClick="goBack()">回上一頁</a></div>
{% endif %}
{% endblock body %}
{% block script %}
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script>
var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

    // preselect geo
    // $('#').selectpicker('val', ""); 
$( function() {
    // study area
    {% for i in study_area %}
        {% if i.parent_id != None %}
            $("#collapse_{{ i.parent_id }}").prepend(`<li>
                <div data-parent="{{ i.parent_id }}" id="{{ i.id }}" onClick="selectStudyArea({{ i.id }}, '{{ i.name }}')">
                    <div style="display: inline-block" class="studyarea-name">{{ i.name }}
                    </div>
                </div>
            </li>`);
            $("#collapse_{{ i.parent_id }}").removeClass('d-none');
        //{% else %}
        //    $("#collapse_{{ i.id }}").remove()
        {% endif %}
    {% endfor %}

})


function addDepolymentSubmit(){
    // check required fields
    // name
    let name = $('#deployment [name="name"]')

    name_list = []
    name.each(function(){
        name_list.push($(this).val());
    });

    name.each(function(){
        if ($(this).val()==''){
            $(this).addClass("is-invalid").addClass("was-validated");
        } else if (name_list.includes($(this).val())){
            let count = 0;
            for(let i = 0; i < name_list.length; ++i){
                if(name_list[i] == $(this).val())
                    count++;
            }
            if (count > 1){
                $(this).addClass("is-invalid").addClass("was-validated");
            } else {
                $(this).removeClass("is-invalid").removeClass("was-validated");
            }
        } else {
            $(this).removeClass("is-invalid").removeClass("was-validated");
        }            
    });

    let longitude = $('#deployment [name="longitude"]')
    longitude.each(function(){
        let value = $(this).val()
        if (!$.isNumeric(value)){
            $(this).addClass("is-invalid").addClass("was-validated");
        } else {
            $(this).removeClass("is-invalid").removeClass("was-validated");
        }            
    });

    let latitude = $('#deployment [name="latitude"]')
    latitude.each(function(){
        let value = $(this).val()
        if (!$.isNumeric(value)){
            $(this).addClass("is-invalid").addClass("was-validated");
        } else {
            $(this).removeClass("is-invalid").removeClass("was-validated");
        }            
    });

    // altitude
    let altitude = $('#deployment [name="altitude"]')
    altitude.each(function(){  
        let value = $(this).val()
        if (value==''){
            //pass
        } else {
            if (!$.isNumeric(value)){
                $(this).addClass("is-invalid").addClass("was-validated");
            } else {
                $(this).removeClass("is-invalid").removeClass("was-validated");
            }
        }
    });

    // show invalid feedback

    // submit
    if(!$('#deploymentForm .is-invalid').length){

        names = []
        name.each(function(){
            names.push($(this).val());
        });

        latitudes = []
        latitude.each(function(){
            latitudes.push($(this).val());
        });

        longitudes = []
        longitude.each(function(){
            longitudes.push($(this).val());
        });

        altitudes = []
        altitude.each(function(){
            altitudes.push($(this).val());
        });

        landcovers = []
        $('#deployment [name="landcover"]').each(function(){
            landcovers.push($(this).val());
        });

        vegetations = []
        $('#deployment [name="vegetation"]').each(function(){
            vegetations.push($(this).val());
        });

        did = []
        $('#deployment [name="id"]').each(function(){
            did.push($(this).val());
        });

        deprecated = []
        $('input[name="deprecated"]:checked').each(function(){
            deprecated.push($(this).val());
        });

        $.ajax({
        type: 'POST',
        url: "{% url 'add_deployment' %}",
        data: {'project_id': {{ pk }},
               'study_area_id': $('.current_sa').attr('id'),
               'geodetic_datum': $('select').val(),
               'names': names,
               'longitudes': longitudes,
               'latitudes': latitudes,
               'altitudes': altitudes,
               'landcovers' : landcovers,
               'vegetations': vegetations,
               'did': did,
               'deprecated': deprecated},
        headers:{"X-CSRFToken": $crf_token},
        success: function (response) {
            alert('設定已儲存');
        },
        error: function (response) {
            alert('未知錯誤，請聯繫管理員');
        }
    })
    
    } else {
        alert('請檢查輸入欄位是否正確');
    }
}

function selectStudyArea(id, sa_name){
    // clear previous select
    $('#deployment').html('')
    $('#studyarea-list .title-dark').removeClass("title-dark").removeClass('current_sa');
    $('#deployment-list').removeClass("d-none");
    $('#initial-content').addClass("d-none");
    $('.sa-name').html(sa_name);

    let selector = '#' + id
    $(selector).addClass("title-dark").addClass('current_sa')

    // deployment

    // ajax here
    $.ajax({
        type: 'POST',
        url: "{% url 'deployment' %}",
        data: {'study_area_id': id},
        headers:{"X-CSRFToken": $crf_token},
        success: function (response) {
            //let data = JSON.parse(response.replace(/'/g, '"'))
            let i;
            for (i = 0; i < response.length; i++) {
                // 如果是null顯示空值
                for (j = 0; j < 7; j++ ){
                    if ((response[i][j] == null)|(response[i][j] == 'null')){
                        response[i][j] = ""}
                }
                let d_checked
                if (response[i][9]==true){
                    d_checked='checked';
                }
                $('#deployment').append(`
                <tr>
                    <td>
                        <input type="hidden" name="id" value="${response[i][0]}">
                        <input type="text" name="name" class="form-control text-truncate" value="${response[i][1]}">
                    </td>
                    <td><input type="text" name="longitude" class="form-control" value="${response[i][2]}"></td>
                    <td><input type="text" name="latitude" class="form-control" value="${response[i][3]}"></td>
                    <td><input type="text" name="altitude" class="form-control" value="${response[i][4]}"></td>
                    <td><input type="text" name="vegetation" class="form-control" value="${response[i][5]}"></td>
                    <td><input type="text" name="landcover" class="form-control" value="${response[i][6]}"></td>
                    <td><input type="checkbox" name="deprecated" value="${i}" ${d_checked}></td>
                    <td><a class="removeButton btn bg-white text-gray" data-did="${response[i][0]}">x</a></td>
                </tr>`)
            }
            // geodetic_datum
            $('.selectpicker').selectpicker('val', response[0][8]);
        },
        error: function (response) {
        }
    })
}

function addDeployment(){
    //目前的id到哪
    let new_id = parseInt($('input[name=deprecated]').last().val()) + 1;
    $('#deployment').append(`<tr>
                                <td>
                                    <input type="hidden" name="id">
                                    <input type="text" name="name" class="form-control"></td>
                                <td><input type="text" name="longitude" class="form-control"></td>
                                <td><input type="text" name="latitude" class="form-control"></td>
                                <td><input type="text" name="altitude" value="" class="form-control"></td>
                                <td><input type="text" name="vegetation" class="form-control"></td>
                                <td><input type="text" name="landcover" class="form-control"></td>
                                <td><input type="checkbox" name="deprecated" value="${new_id}"></td>
                                <td><a class="removeButton btn bg-white text-gray">x</a></td>
                            </tr>`)
}



$("#deployment-table").on("click", ".removeButton", function(event) {
    let row = $(this).closest("tr");
    if ($(this).data('did')==undefined){
    // 如果是新增的相機位置 -> 直接刪除
        row.remove();
    } else {
    // 如果是已存在的相機位置 -> 後端刪除
        $.ajax({
            type: 'GET',
            url: "{% url 'delete_dep_sa' %}",
            data: {'type': 'dep', 'id': $(this).data('did'), 'project_id': {{ pk }}},
            success: function (response) {
                if (response.status=='exists'){
                    alert('欲刪除的相機位置下尚有影像，請先刪除影像或將影像搬移至其他相機位置')
                } else if (response.status=='done') {
                    alert('已成功刪除')
                    row.remove();
                }
            },
            error: function (response) {
                alert('未知錯誤，請聯繫管理員');
            }
        })
    }
});



$('#addSaModal').on('hidden.bs.modal', function() { 
    $(".is-invalid").removeClass("is-invalid").removeClass("was-validated");
    $('#addStudyArea').val('');
});


$('#editSaModal').on('shown.bs.modal', function() { 
    $('#editStudyArea').val($('.current_sa .studyarea-name').html());
    $('#editStudyArea-id').val($('.current_sa').attr('id'));
});

$('#editSaModal').on('hidden.bs.modal', function() { 
    $(".is-invalid").removeClass("is-invalid").removeClass("was-validated");
});


function editSa(type){

    $(".is-invalid").removeClass("is-invalid").removeClass("was-validated");

    if (type=='edit'){
        let name = $('#editStudyArea').val();
        // 也有可能是sub
        let original_name = $('.current_sa .studyarea-name').html();
        name_list = []
        $('#studyarea-list div.studyarea-name').each(function(){
            if ($(this).text() != original_name){
            name_list.push($(this).text())
            }
        });
        if (name=='' ){
            $('#editStudyArea-feedback').html('樣區名稱為必填');
            $('#editStudyArea').addClass("is-invalid").addClass("was-validated");
        } else if (name_list.includes(name)){
            $('#editStudyArea-feedback').html('樣區名稱不得重複');
            $('#editStudyArea').addClass("is-invalid").addClass("was-validated");
        } else {
            
            $.ajax({
                type: 'GET',
                url: "{% url 'edit_sa' %}",
                data: {'name': name, 'id': $('#editStudyArea-id').val()},
                success: function (response) {
                    // 修改左側列表名稱
                    $('.current_sa .studyarea-name').html(name)
                    // 修改右側大標
                    $('.sa-name').html(name)
                    $('#editSaModal').modal('hide');
                    alert('設定已儲存')
                },
                error: function (response) {
                    alert('未知錯誤，請聯繫管理員')
                }
            })
            
        }    
    } else {
        // delete
        $.ajax({
            type: 'GET',
            url: "{% url 'delete_dep_sa' %}",
            data: {'type': 'sa', 'id': $('#editStudyArea-id').val(), 'project_id': {{ pk }}},
            success: function (response) {
                if (response.status=='exists'){
                    alert('欲刪除的樣區下尚有影像，請先刪除影像或將影像搬移至其他樣區')
                } else if (response.status=='done') {
                    alert('已成功刪除')
                    $('.current_sa').parent().next('.collapse').remove()
                    $('.current_sa').parent('li').remove()
                    $('#editSaModal').modal('hide')
                    // 右側恢復起始
                    $('#initial-content').removeClass("d-none");
                    $('#deployment-list').addClass("d-none");
                }
            },
            error: function (response) {
                alert('未知錯誤，請聯繫管理員');
            }
        })
    }
    
}



function addSa(){
    let name = $('#addStudyArea').val();
    name_list = []
    $('#studyarea-list div.studyarea-name').each(function(){
        name_list.push($(this).text());
    });
    if (name=='' ){
        $('#addStudyArea-feedback').html('樣區名稱為必填');
        $('#addStudyArea').addClass("is-invalid").addClass("was-validated");
    } else if (name_list.includes(name)){
        $('#addStudyArea-feedback').html('樣區名稱不得重複');
        $('#addStudyArea').addClass("is-invalid").addClass("was-validated");
    } else {
        $.ajax({
            type: 'POST',
            url: "{% url 'add_studyarea' %}",
            data: {'name': name, 'project_id': {{ pk }}},
            headers:{"X-CSRFToken": $crf_token},
            success: function (response) {
                let new_id = response.study_area_id;
                $('#addStudyArea-li').before(`
                                    <li>
                                        <div style="display: inline-block;" class="studyarea-name" id="${new_id}" onClick="selectStudyArea(${new_id},'${name}')" data-bs-toggle="collapse" href="#collapse_${new_id}" role="button" aria-expanded="false" aria-controls="collapse_">
                                            <div style="display: inline-block;" class="studyarea-name">${name}</div>
                                        </div>
                                    </li>
                                    <div class="collapse" id="collapse_${new_id}">
                                        <!-- 新增子樣區 -->
                                        <!--
                                        <li>
                                            <input id="collapse_${new_id}_add" class="border-0 shadow-none form-control bg-light" style="width: 90%;" type="text" placeholder=" + 新增子樣區"> 
                                        </li>
                                        -->
                                    </div>`)     

                $('#addStudyArea').val('');
                $('#addSaModal').modal('hide');
            },
            error: function (response) {
                alert('未知錯誤，請聯繫管理員')
            }
        })
    }
}

/*
$("#addStudyArea").keypress(function(e){
    // remove last enter press
    $(".is-invalid").removeClass("is-invalid").removeClass("was-validated");


  code = (e.keyCode ? e.keyCode : e.which);

  if (code == 13)
  {

  }
});*/


/*
$(".addSubStudyArea").keypress(function(e){
    // remove last enter press
    $(".is-invalid").removeClass("is-invalid").removeClass("was-validated");

  code = (e.keyCode ? e.keyCode : e.which);

  if (code == 13)

  {
        let name = $(this).val();
        let parent = $(this).data('parent');
        $(this).val('');

        name_list = []
        $(`li[data-parent=${parent}] div.substudyarea-name`).each(function(){
            name_list.push($(this).text());
        });


        if (name=='' ){
            $('.addSubStudyArea-feedback').html('請輸入子樣區名稱');
            $(this).addClass("is-invalid").addClass("was-validated");
        } else if (name_list.includes(name)){
            $('.addSubStudyArea-feedback').html('同一樣區內，子樣區名稱不得重複');
            $(this).addClass("is-invalid").addClass("was-validated");
        } else {
            $.ajax({
                type: 'POST',
                url: "{% url 'add_studyarea' %}",
                data: {'name': name, 'project_id': {{ pk }}, 'parent_id': parent},
                headers:{"X-CSRFToken": $crf_token},
                success: function (response) {
                    let new_id = response.study_area_id;
                    $(`#collapse_${parent} li:last`).before(`<li id="${new_id}" onClick="selectStudyArea(${new_id})"><span style="font-size: 10px">●</span> ${name}</li>`);
                },
                error: function (response) {
                    alert('未知錯誤，請聯繫管理員')
                }
            })
        }
  }
});*/




</script>


{% endblock script %}