{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_project_deployment.css' %}">
{% endblock style %}
{% block body %}
{% if is_authorized %}
<input type="hidden" name="pk" value="{{ pk }}"></input>
<div class="container content">
    <div class="row mb-10">
        <div class="col-2 list">
            <div class="row mb-3">
                <a class="text-gray back text-decoration-none" href="{% url 'project_info' pk %}"><i class="fa fa-chevron-left w-12"></i> 返回計畫資訊</a>
            </div>
            <h4 class="title-dark">計畫管理</h4>
            <nav class="py-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_basic' pk %}">
                            <i class="fa-solid fa-circle w-12"></i> 基本資訊 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active check-mark" href="{% url 'edit_project_deployment' pk %}">
                            <i class="fa-solid fa-pencil w-12"></i> 相機位置管理 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_members' pk %}">
                            <i class="fa-solid fa-circle w-12"></i> 計畫成員 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_project_license' pk %}">
                            <i class="fa-solid fa-circle w-12"></i> 
                            <span>創用CC授權</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         
        <div class="col-10">
            <div class="bg-white shadow px-0 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2 mb-0">相機位置管理</p>
                <div class="row px-3">
                <div class="col-2 me-0 studyarea-list-area">
                    <form novalidate>
                    {% csrf_token %}
                        <ul id="studyarea-list">
                        {% for i in study_area %}
                            {% if i.parent_id == None %}
                            <li>
                                <div class="studyarea-click"  id="{{ i.id }}"
                                    data-said="{{ i.id }}" data-saname="{{ i.name }}"
                                    data-bs-toggle="collapse" href="#collapse_{{ i.id }}" role="button" 
                                    aria-expanded="false" aria-controls="collapse_{{ i.id }}">
                                    <div class="studyarea-name d-inline-block">{{ i.name }}</div>
                                </div>
                            </li>
                            <div class="collapse d-none" id="collapse_{{ i.id }}">
                            <!-- 新增子樣區 -->
                            <!-- <li><input id="collapse_{{ i.id }}_add" data-parent="{{ i.id }}" class="addSubStudyArea border-0 shadow-none form-control bg-light" style="width: 90%;" type="text" placeholder=" + 新增子樣區"> 
                                    <div class="invalid-feedback addSubStudyArea-feedback" id="addSubStudyArea-feedback">
                                    </div></li>-->
                            </div>
                            {% endif %}
                        {% endfor %}
                            <li id="addStudyArea-li">
                                <a class="link text-decoration-none" data-bs-toggle="modal" data-bs-target="#addSaModal">
                                    + 新增樣區
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="col-10">
                    <div id="deployment-list" class="d-none">

                        <!-- 相機位置 -->
                        <form id="deploymentForm">
                            <div class="d-flex flex-row align-items-center justify-content-between my-3">
                                <div>
                                    <div class="d-flex align-items-center"><span class="fs-4 sa-name"></span> 
                                    <i class="icon fa fas fa-pencil px-2 link pointer" data-bs-toggle="modal" data-bs-target="#editSaModal"></i></div>
                                </div>
                                <div class="w-50 text-end">
                                    <span class="required">*</span>座標大地基準：
                                    <select class="selectpicker form-control" data-width="40%" data-style="btn-new">
                                        <option>WGS84</option>
                                        <option>TWD97</option>
                                    </select>
                                    <img class="text-green ms-2 h-18" src="{% static 'icon/info.png' %}" data-bs-toggle="tooltip" data-bs-placement="right" title="為準確呈現圖籍，請指明相機位置座標的大地基準。單一樣區內所有相機位置必須一致，因此更改設定會全部覆寫喔。">
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table mx-auto w-100 mb-5 align-middle" id="deployment-table">
                                        <thead class="table-light text-black">
                                            <tr>
                                                <th><span class="required">*</span>相機位置名稱</th>
                                                <th><span class="required">*</span>經度(X)</th>
                                                <th><span class="required">*</span>緯度(Y)</th>
                                                <th>海拔(公尺)</th>
                                                <th>植被類型</th>
                                                <th>土地覆蓋類型</th>
                                                <th>棄用</th>
                                                <th>刪除</th>
                                            </tr>                            
                                        </thead>
                                        <tbody id="deployment">
                                        </tbody>
                                    </table>
                                    <div class="mb-5 text-end">
                                        <a class="btn btn-light text-gray d-inline-block" id="addDeployment">+ 新增相機位置</a>
                                        <a class="btn btn-orange d-inline-block" id="addDepolymentSubmit">儲存設定</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of 相機位置 -->
                    </div>
                    <div id="initial-content" class="text-center">
                            <img class="empty-site"
                            src="{% static 'image/empty-site.png' %}"
                            height='450px'
                            srcset="{% static 'image/empty-site@2x.png' %}"
                            />
                            <h5 class="text-gray pb-10">請選擇樣區</h5>
                    </div>
                </div>
                </div>
            </div>
            {% comment %} <div class="row mt-3 px-4">
                <div class="text-end px-0">
                    <a class="btn btn-outline-success" href="{% url 'project_detail' pk %}">取消</a>
                    <a class="btn btn-orange" onClick="addDepolymentSubmit()">儲存設定</a>
                </div>
            </div> {% endcomment %}
            </div>
        </div>     
    </div>
</div>

<!-- Add StudyArea Modal -->
<div class="modal fade" id="addSaModal" tabindex="-1" aria-labelledby="addSaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-dark">新增樣區</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="addStudyArea" class="form-control" type="text" placeholder="請輸入樣區名稱">
                <div class="ms-1 invalid-feedback" id="addStudyArea-feedback"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-orange d-inline-block" id="addSa">送出</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit StudyArea Modal -->
<div class="modal fade" id="editSaModal" tabindex="-1" aria-labelledby="editSaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-dark">編輯樣區</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="editStudyArea" class="form-control" type="text" value="" placeholder="請輸入樣區名稱">
                <input id="editStudyArea-id" type="hidden" value="">
                <div class="ms-1 invalid-feedback" id="editStudyArea-feedback"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-danger d-inline-block" id="editSa_delete">刪除</a>
                <a class="btn btn-orange d-inline-block" id="editSa_edit">儲存</a>
            </div>
        </div>
    </div>
</div>
    



{% else %}
<div class="container content">
<a class="btn btn-outline-success" id="goBack">回上一頁</a></div>
{% endif %}
{% endblock body %}
{% block script %}
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/edit_project_deployment.js' %}"></script>
{% endblock script %}

