{% extends 'base/base.html' %} {% block style %}
<style>
  .clickable-row {
    cursor: pointer;
  }

  .table {
    padding: 1% 0;
  }

  .nav-link {
    color: gray;
  }

  .nav-link:hover {
    color: lightgrey;
  }

  .page-item.active .page-link {
    background-color: rgb(228, 224, 224) !important;
    border: 1px solid rgb(228, 224, 224);
  }
  .page-link {
    color: black !important;
  }

  /* radio style */
  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
  }
</style>
{% endblock style %} {% block body %} {% csrf_token %}
<div class="container content">
  <div class="row" style="margin-bottom: 10px">
    <h4 class="title-dark p-0">計畫總覽</h4>
  </div>
  <div class="row">
    <div class="col-2 bg-white">
      <div class="row">
        <div class="mt-3 d-flex justify-content-between">
          <p>篩選條件</p>
          <div>
            <button type="button" style="font-size: 14px" class="btn btn-orange py-0 px-1 select">篩選</button>
            <button type="button" style="font-size: 14px" class="btn btn-light border-secondary py-0 px-1 clear" onclick="resetTable()">清除</button>
          </div>
        </div>

        <hr style="margin: auto; width: 90%" />
        <p class="mt-3 mb-1">
          <strong>物種</strong>
        </p>
        <ul id="species-list" style="list-style: none">
          <li class="public-species">
            <label class="form-check-label">
              <i class="fas fa-check title-dark"></i>
              <input class="filter all publicproject" type="radio" name="species-filter" value="" checked />
              全部
            </label>
          </li>
          <li class="my-species d-none">
            <label class="form-check-label">
              <i class="fas fa-check title-dark"></i>
              <input class="filter all myproject" type="radio" name="species-filter" value="" checked />
              全部
            </label>
          </li>
          {% for i in public_species_data %}
          <li class="public-species">
            <label class="form-check-label">
              <input class="filter publicproject" type="radio" group="species" name="species-filter" value="{{ i.1 }}" />
              {{ i.1 }} ({{i.0}})
            </label>
          </li>
          {% endfor %} {% for i in my_species_data %}
          <li class="my-species d-none">
            <label class="form-check-label">
              <input class="filter myproject" type="radio" group="species" name="species-filter" value="{{ i.1 }}" />
              {{ i.1 }} ({{i.0}})
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-10 tab-area">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="publicproject-tab" data-bs-toggle="tab" data-bs-target="#publicproject" type="button" role="tab" aria-controls="publicproject" aria-selected="false">公開計畫</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="myproject-tab" data-bs-toggle="tab" data-bs-target="#myproject" type="button" role="tab" aria-controls="myproject" aria-selected="true">我的計畫</button>
        </li>
        {% if is_authorized_create %}
        <li class="nav-item ms-auto">
          <a class="btn btn-orange" href="{% url 'create_project' %}">新增計畫</a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content" id="myTabContent" style="background-color: white; padding: 2%">
        <div class="tab-pane fade" id="myproject" role="tabpanel" aria-labelledby="myproject-tab">
          {% if request.session.is_login == True %}
          <table class="table table-hover bg-white" id="myproject-table" style="width: 100%">
            <thead>
              <tr>
                <td>ID</td>
                <td>計畫名稱</td>
                <td>計畫關鍵字</td>
                <td>起始年份</td>
                <td>委辦單位</td>
                <td>樣區數量</td>
                <td>相機位置數</td>
                <td>資料量</td>
              </tr>
            </thead>
            <tbody id="myproject-tbody">
              {% for tuples in my_project %}
              <tr class="clickable-row" data-href="{% url 'project_detail' tuples.0 %}">
                {% for t in tuples %} {% if t == None or t == 'None' %}
                <td></td>
                {% else %}
                <td>{{ t }}</td>
                {% endif %} {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %} 請先登入後查看您的計畫 {% endif %}
        </div>
        <div class="tab-pane fade show active" id="publicproject" role="tabpanel" aria-labelledby="publicproject-tab">
          <table class="table table-hover bg-white" id="publicproject-table" style="width: 100%">
            <thead>
              <tr>
                <td>ID</td>
                <td>計畫名稱</td>
                <td>計畫關鍵字</td>
                <td>起始年份</td>
                <td>委辦單位</td>
                <td>樣區數量</td>
                <td>相機位置數</td>
                <td>資料量</td>
              </tr>
            </thead>
            <tbody id="publicproject-tbody">
              {% for tuples in public_project %}
              <tr class="clickable-row" data-href="{% url 'project_detail' tuples.0 %}">
                {% for t in tuples %} {% if t == None or t == 'None' %}
                <td></td>
                {% else %}
                <td>{{ t }}</td>
                {% endif %} {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} {% block script %}
<script>
  var $crf_token = $('[name="csrfmiddlewaretoken"]').attr("value");

  $(function () {
    // speices filter list
    $("#publicproject-tab").on("click", function () {
      $(".public-species").removeClass("d-none");
      $(".my-species").addClass("d-none");
    });

    $("#myproject-tab").on("click", function () {
      $(".my-species").removeClass("d-none");
      $(".public-species").addClass("d-none");
    });

    // clickable datatable
    $("#myproject-table").on("click", ".clickable-row", function () {
      window.location = $(this).data("href");
    });

    $("#publicproject-table").on("click", ".clickable-row", function () {
      window.location = $(this).data("href");
    });

    // filter data by species
    $(".select").on("click", function () {
      let table_id = $(".col-10 .active").attr("aria-controls");
      let s = $(`[name=species-filter].${table_id}:checked`).val();
      if (s != undefined && s != "") {
        // show loading
        $(".tab-area").addClass("loading");
        // current table
        let check_list = $(`[name=species-filter].${table_id}:checked`);
        let speciesArray = [];
        check_list.each(function () {
          speciesArray.push($(this).val());
        });
        if (speciesArray.length) {
          $.ajax({
            type: "POST",
            url: "{% url 'update_datatable' %}",
            data: { table_id: table_id, species: speciesArray },
            headers: { "X-CSRFToken": $crf_token },
            success: function (response) {
              $(".tab-area").removeClass("loading");
              // reset table
              $("#" + table_id + "-table")
                .DataTable()
                .destroy();
              $("#" + table_id + "-tbody").html("");
              let i;
              for (i = 0; i < response.length; i++) {
                // keyword & funding agency
                if ((response[i][2] == "None") | (response[i][2] == null)) {
                  response[i][2] = "";
                }

                if ((response[i][4] == "None") | (response[i][2] == null)) {
                  response[i][4] = "";
                }

                $("#" + table_id + "-tbody").append(`
                                <tr class='clickable-row' data-href="details/${response[i][0]}/">
                                    <td>${response[i][0]}</td>
                                    <td>${response[i][1]}</td>
                                    <td>${response[i][2]}</td>
                                    <td>${response[i][3]}</td>
                                    <td>${response[i][4]}</td>
                                    <td>${response[i][5]}</td>
                                    <td>${response[i][6]}</td>
                                    <td>${response[i][7]}</td>
                                </tr>`);
              }
              $("#" + table_id + "-table").DataTable({ language: language_settings, columnDefs: column_defs, order: [[3, "desc"]] });
            },
          });
        }
      } else {
        resetTable();
      }
    });
  });

  // datatable
  let language_settings = {
    decimal: "",
    emptyTable: "查無資料",
    info: "共 _TOTAL_ 筆",
    infoEmpty: "共 0 筆",
    infoFiltered: "",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "每頁顯示 _MENU_ 筆",
    loadingRecords: "載入中...",
    processing: "處理中...",
    search: "查詢🔍",
    zeroRecords: "查無符合資料",
    paginate: {
      next: "下一頁",
      previous: "上一頁",
    },
  };

  let column_defs = [
    { visible: false, targets: 0 },
    { width: "33%", targets: 1 },
    { width: "12%", targets: 2 },
    { width: "10%", targets: 3 },
    { width: "15%", targets: 4 },
    { width: "10%", targets: 5 },
    { width: "10%", targets: 6 },
    { width: "10%", targets: 7 },
  ];

  let myproject_table = $("#myproject-table").DataTable({
    language: language_settings,
    columnDefs: column_defs,
    fixedColumns: true,
    order: [[1, "asc"]],
  });

  let publicproject_table = $("#publicproject-table").DataTable({
    language: language_settings,
    columnDefs: column_defs,
    fixedColumns: true,
    order: [[1, "asc"]],
  });

  // radio style
  $("input[type=radio]").click(function () {
    let group = $(this).attr("name");
    let table_id = $(".col-10 .active").attr("aria-controls");
    $(`input[name=${group}].${table_id}`).parent("label").children("i").remove();
    $('<i class="fas fa-check title-dark"></i>').insertBefore(this);
  });

  // reset table
  function resetTable() {
    $("#myproject-table").DataTable().destroy();
    $("#publicproject-table").DataTable().destroy();

    $("#myproject-tbody").html(
      `{% for tuples in my_project %}
                    <tr class='clickable-row' data-href="{% url 'project_detail' tuples.0 %}">
                        {% for t in tuples %}
                            {% if t == None or t == 'None' %}
                                <td></td>
                            {% else %}
                                <td>{{ t }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}`
    );

    $("#publicproject-tbody").html(
      `{% for tuples in public_project %}
                    <tr class='clickable-row' data-href="{% url 'project_detail' tuples.0 %}">
                        {% for t in tuples %}
                            {% if t == None or t == 'None' %}
                                <td></td>
                            {% else %}
                                <td>{{ t }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}`
    );

    $("#myproject-table").DataTable({
      language: language_settings,
      columnDefs: column_defs,
      fixedColumns: true,
      order: [[1, "asc"]],
    });
    $("#publicproject-table").DataTable({
      language: language_settings,
      columnDefs: column_defs,
      fixedColumns: true,
      order: [[1, "asc"]],
    });

    // filter
    let table_id = $(".col-10 .active").attr("aria-controls");
    if (table_id == "myproject") {
      $(".my-species").removeClass("d-none");
      $(".public-species").addClass("d-none");
    } else {
      $(".my-species").addClass("d-none");
      $(".public-species").removeClass("d-none");
    }

    // reset radio
    $("input[type=radio]").prop("checked", false);
    $("input[type=radio].all").prop("checked", true);

    // radio
    $(".fa-check").remove();
    $('<i class="fas fa-check title-dark"></i>').insertBefore($("input[type=radio].all"));
  }
</script>
{% endblock script %}
