{% extends 'base/base.html' %}
{% block style %}
    <style>
        .clickable-row {
            cursor: pointer;
        }

        .table {
            padding: 1% 0;
        }
          
        .nav-link {
            color: gray;
        }

        .nav-link:hover {
            color: lightgrey;
        }

        .page-item.active .page-link {
            background-color: rgb(228, 224, 224) !important;
            border: 1px solid rgb(228, 224, 224) ;
        }
        .page-link {
            color: black !important;
        }
        
    </style>
{% endblock style %}
{% block body %}
<div class="container content">
    <div class="row" style="margin-bottom: 10px">
            <h4 class="title-dark">計畫總覽</h4>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <h6>篩選條件</h6>
                <p class="my-1">物種</p>
                <ul style="list-style: none">
                <li>
                    <label class="form-check-label">
                        <input class="filter" type="checkbox" checked onClick="toggle(this)">
                            全選
                    </label>
                </li>
                    {% for i in species_data %}
                    <li>
                        <label class="form-check-label">
                        <input class="filter" checked type="checkbox" name="species-filter" value="{{ i.1 }}">
                            {{ i.1 }} ({{i.0}})
                        </label>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="myproject-tab" data-bs-toggle="tab" data-bs-target="#myproject" type="button" role="tab" aria-controls="myproject" aria-selected="true">我的計畫</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="allproject-tab" data-bs-toggle="tab" data-bs-target="#allproject" type="button" role="tab" aria-controls="allproject" aria-selected="false">所有計畫</button>
                </li>
                <li class="nav-item ms-auto">
                    <a class="btn btn-orange" href="{% url 'create_project' %}">新增計畫</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent" style="background-color: white; padding: 2%">
                <div class="tab-pane fade show active" id="myproject" role="tabpanel" aria-labelledby="myproject-tab">
                    <table class="table table-hover bg-white" id="myproject-table" style="width: 100%;">
                        <thead>
                        <tr>
                            <td style="width: 35%">計畫名稱</td>
                            <td style="width: 15%">資料起始年份</td>
                            <td style="width: 20%">委託單位</td>
                            <td style="width: 10%">樣區數量</td>
                            <td style="width: 10%">相機位置數</td>
                            <td style="width: 10%">資料量</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tuples in row %}
                            <tr class='clickable-row' data-href="{% url 'project_detail' tuples.0 %}">
                                {% for t in tuples %}
                                    {% if not forloop.first %}
                                        <td>{{ t }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="allproject" role="tabpanel" aria-labelledby="allproject-tab">
                    <table class="table table-hover bg-white" id="allproject-table" style="width: 100%;">
                        <thead>
                        <tr>
                            <td style="width: 35%">計畫名稱</td>
                            <td style="width: 15%">資料起始年份</td>
                            <td style="width: 20%">委託單位</td>
                            <td style="width: 10%">樣區數量</td>
                            <td style="width: 10%">相機位置數</td>
                            <td style="width: 10%">資料量</td>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- {% for tuples in row %}
                            <tr class='clickable-row' data-href="{% url 'project_detail' tuples.0 %}">
                                {% for t in tuples %}
                                    {% if not forloop.first %}
                                        <td>{{ t }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %} -->
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
    </div>
{% endblock body %} {% block script %}
    <script>
        // Shorthand for $( document ).ready()
        $(function () {
            $(".clickable-row").click(function () {
                //console.log($(this).data("href"));
                window.location = $(this).data("href");
            });


            $(".filter").click(function(){
                check_list = $("[name=species-filter]:checked");
                let speciesArray = [];
                check_list.each(function(){
                    speciesArray.push($(this).val()); 
                });
                // ajax here
                
            })
        });

            // select all species
        function toggle(source) {
            checkboxes = document.getElementsByName('species-filter');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
            }

        // datatable
        let language_settings = {
            "decimal":        "",
            "emptyTable":     "查無資料",
            "info":           "共 _TOTAL_ 筆",
            "infoEmpty":      "共 0 筆",
            "infoFiltered":   "",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "每頁顯示 _MENU_ 筆",
            "loadingRecords": "載入中...",
            "processing":     "處理中...",
            "search":         "查詢🔍",
            "zeroRecords":    "查無符合資料",
            "paginate": {
                "next":       "下一頁",
                "previous":   "上一頁"
            }
        };

        $('#myproject-table').DataTable({"language": language_settings});
        $('#allproject-table').DataTable({"language": language_settings});
    </script>
{% endblock script %}
