{% extends 'base/base.html' %} 
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/project_overview.css' %}">
{% endblock style %} 

{% block title %}計畫總覽 | {% endblock title %} 


{% block body %} 
{% csrf_token %}


<div class="main-box">
  <div class="main-title pad-pj">
    <div class="flex-boxleft">
      <h2>計畫總覽</h2>
    </div>
    {% if is_authorized_create %}
    <div class="right-btnaera">
      <a href="{% url 'create_project' %}" class="add-btn">
        <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="18.425" height="18.425" viewBox="0 0 18.425 18.425">
          <g id="Group_688" data-name="Group 688" transform="translate(-1603.839 983.606) rotate(-45)">
            <line id="Line_1" data-name="Line 1" x1="10.2" y2="10.2" transform="translate(1824.5 446.5)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="2"/>
            <line id="Line_2" data-name="Line 2" x2="10.2" y2="10.2" transform="translate(1824.5 446.5)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="2"/>
          </g>
        </svg>
        新增計畫
      </a>
    </div>
    {% endif %}
  </div>

  <div class="pjflex-content">
    <div class="left-selectlist">
      <div class="opitem-btn">
        篩<br/>選<br/>條<br/>件
      </div>
      <div class="topitem">
        <h3 class="light-green">篩選條件</h3>
        <div class="right-btn">
          <button class="red" id="filterTableBySpecies">篩選</button>
          <button id="resetTable">清除</button>
        </div>
      </div>
      <div class="sscro-area">
        <div class="item-set1">
          <div class="settitle-box">
            <h4>物種</h4>
            <div class="arrup">
              <img src="/static/image/arrup.svg" alt="">
            </div>
          </div>
          <ul class="check-list species-check-list">
            <!---點選給li now-->
            <li class="now filter all" data-table="public-species">
              <div class="cir-checkbox">
                <img class="coricon" src="/static/image/correct.svg">
              </div>
              <p>全部</p>
            </li>
            <li class="now filter all d-none" data-table="my-species">
              <div class="cir-checkbox">
                <img class="coricon" src="/static/image/correct.svg">
              </div>
              <p>全部</p>
            </li>
            {% for i in public_species_data %}
            <li class="now" data-table="public-species" data-species="{{ i.1 }}">
              <div class="cir-checkbox">
                <img class="coricon" src="/static/image/correct.svg">
              </div>
              <p>{{ i.1 }} ({{i.0}})</p>
            </li>
            {% endfor %} 

            {% for i in my_species_data %}
            <li class="now d-none" data-table="my-species" data-species="{{ i.1 }}">
              <div class="cir-checkbox">
                <img class="coricon" src="/static/image/correct.svg">
              </div>
              <p>{{ i.1 }} ({{i.0}})
              </p>
              <!--
              <label class="form-check-label">
                <i class="fas fa-check title-dark w-12"></i>
                <input class="filter myproject" type="checkbox" group="species" name="species-filter" value="{{ i.1 }}" checked />
                {{ i.1 }} ({{i.0}})
              </label>-->
            </li>
            {% endfor %}

            
          </ul>
        </div>

        <!--
        <div class="item-other">
          <div class="item1">
            <h4>起始年份</h4>
            <div class="input-item">
              <select name="" id="">
                <option value="">123</option>
              </select>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="right-tablecont">
      <div class="pj-alltable">
        <div class="top-area">
          <div class="search-box">
            <div class="input-item">
              <input type="text" name="project_keyword" placeholder="請輸入關鍵字">
              <button class="searchicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.061" height="21.061" viewBox="0 0 21.061 21.061">
                  <g id="Group_718" data-name="Group 718" transform="translate(-966.939 -1128)">
                    <g id="Group_719" data-name="Group 719" transform="translate(968 1128)">
                      <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(2)" fill="none" stroke="#257455" stroke-width="1.5">
                        <circle cx="9" cy="9" r="9" stroke="none"/>
                        <circle cx="9" cy="9" r="8.25" fill="none"/>
                      </g>
                      <line id="Line_5" data-name="Line 5" x1="5" y2="5" transform="translate(0 15)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="1.5"/>
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>
          <ul class="pj-tab">
            <!--目前選項給class now-->
            <li class="now" data-table="publicproject">公開計畫</li>
            <li data-table="myproject">我的計畫</li>
          </ul>
        </div>
        <div class="cont-area">
          <div class="ov-scroll">
            <table class="pjtable-styel" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="nth1">
                    <div class="flex-box">
                      <p>計畫名稱</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="name" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="name"  data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth2">
                    <div class="flex-box">
                      <p>計畫關鍵字</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="keyword" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="keyword" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth3">
                    <div class="flex-box">
                      <p>起始年份</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="start_year" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="start_year" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth4">
                    <div class="flex-box">
                      <p>委辦單位</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="funding_agency" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="funding_agency" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth5">
                    <div class="flex-box">
                      <p>樣區數量</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="num_studyarea" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="num_studyarea" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth6">
                    <div class="flex-box">
                      <p>相機位置數</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="num_deployment" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="num_deployment" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td class="nth7">
                    <div class="flex-box">
                      <p>資料量</p>
                      <svg class="selectarr" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
                        <g data-name="Group 806" transform="translate(-604 -352)">
                          <path class="upar1" data-order="num_data" data-name="Polygon 29" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(604 352)" fill="#59ae68" opacity="0.996"/>
                          <path class="dwar1" data-order="num_data" data-name="Polygon 30" d="M4.676,1.2a1,1,0,0,1,1.648,0l3.6,5.235A1,1,0,0,1,9.1,8H1.9a1,1,0,0,1-.824-1.567Z" transform="translate(615 371) rotate(180)" fill="#59ae68" opacity="0.996"/>
                        </g>
                      </svg>
                    </div>
                  </td>
                </tr>
                  {% for tuples in public_project %}
                  <tr class="clickable-row publicproject-rows" data-href="{% url 'project_info' tuples.0 %}">
                    {% for t in tuples %} 
                    {% if not forloop.first %}
                      <td>{{ t|default_if_none:'' }}</td>
                      {% endif %}
                      {% endfor %}
                  </tr>
                  {% endfor %}
                  <!--
                  {% for tuples in my_project %}
                  <tr class="clickable-row myproject-rows d-none" data-href="{% url 'project_info' tuples.0 %}">
                    {% for t in tuples %} 
                        {% if not forloop.first %}
                          <td>{{ t|default_if_none:'' }}</td>
                        {% endif %}
                      {% endfor %}
                  </tr>
                  {% endfor %}-->
            </table>
          </div>
        </div>
      </div>

      <div class="page-inf" data-table="public-page">
        <div class="leftbox">
          <p>正在檢視第 <span class="show-start">1</span> 至 <span class="show-end">{% if public_total >= 10  %}10{% else %}{{ public_total }}{% endif %}</span> 筆，總共 <span class="show-total">{{ public_total }}</span> 筆</p>
          <div class="evpage">
            <p>每頁顯示</p>
            <div class="input-item">
              <select name="limit">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <p>筆</p>
          </div>
        </div>

        <div class="page-num">
            <a class="first_page num changePage {% if public_total_page <= 1 %} d-none {% endif %}" data-page="1">1</a>
            <a class="back pt-none" data-page="">
              <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
                <g id="pre" transform="translate(111.483 17.054) rotate(180)">
                  <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
                    <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#529a81"/>
                  </g>
                </g>
              </svg>
              <p>上一頁</p>
            </a>
            <!--目前頁面給 now-->
            {% for p in public_page_list %}
                <a class="middle_page num {% if p == 1 %} now {% endif %} changePage" data-page="{{ p }}">{{ p }}</a>
            {% endfor %}
            <a class="next {% if 2 in page_list %} changePage {% else %} pt-none {% endif %}" data-page="2">
              <p>下一頁</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
                <g id="next" transform="translate(-102.297 0)">
                  <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
                    <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#529a81"/>
                  </g>
                </g>
              </svg>            
            </a>
            <a class="final_page num changePage {% if public_total_page <= 1 %} d-none {% endif %}" data-page="{{ public_total_page }}">{{ public_total_page }}</a>
        </div>

      </div>


      <!-- default 不需要放內容 -->

      <div class="page-inf d-none" data-table="my-page">
        <div class="leftbox">
          <p>正在檢視第 <span class="show-start"></span> 至 <span class="show-end"></span> 筆，總共 <span class="show-total"></span> 筆</p>
          <div class="evpage">
            <p>每頁顯示</p>
            <div class="input-item">
              <select name="limit">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <p>筆</p>
          </div>
        </div>

        <div class="page-num">
          <a class="first_page num changePage" data-page="1">1</a>
          <a class="back changePage" data-page="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
              <g id="pre" transform="translate(111.483 17.054) rotate(180)">
                <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
                  <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#529a81"/>
                </g>
              </g>
            </svg>
            <p>上一頁</p>
          </a>
          <a class="next changePage" data-page="">
            <p>下一頁</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
              <g id="next" transform="translate(-102.297 0)">
                <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
                  <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#529a81"/>
                </g>
              </g>
            </svg>
          </a>
          <a class="final_page num changePage" data-page=""></a>
        </div>

      </div>

    </div>
  </div>

</div>



{% endblock body %} 
{% block script %}
<script src="{% static 'js/project_overview.js' %}"></script>
{% endblock script %}
