{% extends 'base/base.html' %} {% load tag_library %}
{% block title %} {{ project_info.0 }} | {{ block.super }} {% endblock title %} {% block head %} {% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="{% static 'js/datatable-settings.js' %}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="{% static 'css/project_detail.css' %}" />

{% endblock head %} {% block body %}
<input type="hidden" name="pk" value="{{ pk }}"></input>
<input type="hidden" name="get-folder" value="{{ folder }}"></input>
<input type="hidden" name="project-name" value="{{ project_info.0 }}"></input>
<div class="container box">
  {% if is_project_authorized %}
      {% if project_name_len > 35 %}
      <div class="row pb-2 pt-4 header overflow-auto h-120">
      {% else %}
      <div class="row pb-2 pt-4 header overflow-auto">
      {% endif %}
      <div class="col-2">
        <a class="text-gray back text-decoration-none align-middle" href="{% url 'project_info' pk %}"><i class="fa fa-chevron-left w-12"></i> 返回計畫資訊</a>
      </div>
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="title-dark p-0">{{ project_info.0 }}</h4>
          <!--
           <i class="fa fa-info-circle" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#infoModal"></i>
          -->
          <div>
            {% if editable %}
            <button class="btn btn-outline-success" id="edit_button" data-edit="off"><i class="fa fa-xs fa-pencil w-12"></i> 編輯模式</button>
            {% endif %}
            <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#downloadModal"><i class="fas fa-file-csv  w-12"></i> 下載篩選資料</a>
            {% comment %} <a class="btn btn-outline-success download"><i class="fas fa-file-csv"></i> 下載篩選資料</a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 bg-white shadow-sm remain">
        <form action="{% url 'download' pk %}" method="post" id="downloadForm">
          {% csrf_token %}
          <input type="hidden" name="email" value="" />
          <div class="row">
            <div class="mt-3 d-flex justify-content-between">
              <p>篩選條件</p>
              <div>
                <button type="button" class="btn btn-orange py-0 px-1 fs-14" id="submitSelect">篩選</button>
                <button type="button" class="btn btn-light border-secondary py-0 px-1 clear fs-14">清除</button>
              </div>
            </div>
            <hr class="hr-style"/>
            <div class="scroll-part">
              <p class="mt-3 mb-1 d-flex justify-content-between">
                <strong>物種</strong>
              </p>
              <ul id="species-list" class="font-sm ls-none">
                <li id="species-list-all">
                  <label class="form-check-label">
                    <i class="fas fa-check title-dark  w-12"></i>
                    <input id="species-all-option" class="filter all" type="checkbox" name="species-filter" value="all" checked />
                    全部
                  </label>
                </li>
                {% for i in species %}
                <li>
                  <label class="form-check-label w-100">
                    <i class="fas fa-check title-dark  w-12"></i>
                    <input class="filter" type="checkbox" name="species-filter" value="{{ i.1 }}" checked />
                    {{ i.1 }} ({{i.0}})
                  </label>
                </li>
                {% endfor %}
              </ul>
              <p class="mb-1"><strong>樣區 / 相機位置</strong></p>
              <input type="hidden" id="checkbox-all-unchecked" value="false" />
              <ul id="studyarea-list" class="font-sm ls-none">
                <li>
                  <label class="form-check-label">
                    <i class="fas fa-check title-dark w-12"></i>
                    <input class="filter all" type="radio" name="sa-filter" value="" checked />
                    全部
                  </label>
                </li>
                {% for i in study_area %} {% if i.parent_id == None %}
                <li>
                  <label class="form-check-label w-100">
                    <input class="filter studyarea-name" type="radio" name="sa-filter" value="{{ i.id }}" id="{{ i.id }}" data-bs-toggle="collapse" href="#collapse_{{ i.id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ i.id }}" />
                    {{ i.name }}
                  </label>
                </li>
                <div class="collapse" id="collapse_{{ i.id }}">
                  {% if i.deployment_set.all != None %}
                  <li>
                    <label class="form-check-label w-auto">
                      <input class="filter all" type="checkbox" name="d-filter" value="all" data-parent-radio="{{ i.id }}" />
                      全部
                    </label>
                  </li>
                  {% for j in i.deployment_set.all|dictsort:"name" %}
                  <li>
                    <label class="form-check-label w-auto">
                      <input class="filter" type="checkbox" name="d-filter" value="{{ j.id }}" data-parent-radio="{{ i.id }}" />
                      {{ j.name }}
                    </label>
                  </li>
                  {% endfor %} {% endif %}
                </div>
                {% endif %} {% endfor %}
              </ul>
              <p class="mb-1"><strong>上傳目錄名稱</strong></p>
              <select id="select-folder" class="mb-2" placeholder="請選擇目錄名稱">
                <option value="">請選擇目錄名稱</option>
              </select>
              <p class="mb-1"><strong>拍攝時間</strong></p>
              <div class="w-75 mx-auto mb-2">
                <input type="time" id="times" name="times" step="2" />
              </div>
              <p class="mb-1"><strong>拍攝日期</strong></p>
              <p id="date-content" class="font-sm"></p>
              <input type="text" class="d-none" id="date" readonly />
              <div id="date-slider" class="w-75 mx-auto mb-5"></div>
            </div>
          </div>
          <input type="hidden" name="start_date" value="" />
          <input type="hidden" name="end_date" value="" />
        </form>
      </div>
      <div class="col-10 remain">
        <table class="table table-borderless w-100 px-3 h-100" id="img-table">
          <thead class="fw-bold title-dark">
            <tr>
              <td><input type="checkbox" id="edit-all" class="edit-checkbox" name="edit" /></td>
              <td>樣區</td>
              <td class="orderby pointer">相機位置<i data-orderby="d.name" class="fa-solid fa-sort sort-icon"></i></td>
              <td>檔名</td>
              <td class="orderby pointer">日期時間<i data-orderby="i.datetime" class="fa-solid fa-sort-down sort-icon-active"></i></td>
              <td>物種</td>
              <td>年齡</td>
              <td>性別</td>
              <td>角況</td>
              <td>個體ID</td>
              <td>備註</td>
              <td>影像</td>
              <td>image_uuid</td>
              <td>image_id</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show mt-50p" role="alert">
        您的權限不足
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <a class="btn btn-outline-success" href="{% url 'project_overview' %}">回上一頁</a>
    {% endif %}
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content edit-content">
        <div class="modal-body" id="modal-text">
          <div class="d-flex justify-content-end">
            <i class="fa-solid fa-circle-xmark pointer w-30 text-grey edit-xx"></i>            
          </div>
          <div class="row my-3 align-items-center">
            <div class="col-1 d-flex justify-content-end">
              <!--<span class="edit-prev text-grey pointer"><</span>-->
              <i class="edit-prev text-grey pointer w-12 fa-solid fa-angle-left"></i>
            </div>
            <div class="col-10" id="edit-image"></div>
            <div class="col-1 d-flex justify-content-start">
              <i class="edit-next text-grey pointer w-12 fa-solid fa-angle-right"></i>
            </div>
          </div>
          <form novalidate action="{% url 'edit_image' pk %}" method="post" autocomplete="off" id="editForm">
            {% csrf_token %}
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">計畫</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input id="edit-project_id" type="hidden" name="project_id" />
                  <input class="form-control" id="edit-project" type="text" />
                </div>
                <div class="notice d-none">
                  必填欄位
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">樣區</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input id="edit-studyarea_id" type="hidden" name="studyarea_id" />
                  <input class="form-control" id="edit-studyarea" type="text" />
                </div>
                <div class="notice d-none">
                  必填欄位
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">相機位置</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input class="form-control" id="edit-deployment" type="text" />
                  <input id="edit-deployment_id" type="hidden" name="deployment_id" />
                </div>
                <div class="notice d-none">
                  必填欄位
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">檔名</div>
              <div class="col-7" id="edit-filename"></div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">日期時間</div>
              <div class="col-7" id="edit-datetime">
                <!--
                <input class="form-control" style="height: 38px" id="edit-datetime" type="datetime-local" name="datetime" step="1">
                <div class="notice d-none">
                  時間格式錯誤，請至少填寫至分鐘
                </div>
                -->              
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">物種</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input class="form-control" id="edit-species" type="text" name="species" />
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">年齡</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input class="form-control" id="edit-life_stage" type="text" name="life_stage" />
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">性別</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input class="form-control" id="edit-sex" type="text" name="sex" />
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">角況</div>
              <div class="col-7">
                <div class="autocomplete">
                  <input class="form-control" id="edit-antler" type="text" name="antler" />
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">個體ID</div>
              <div class="col-7">
                <input class="form-control" id="edit-animal_id" type="text" name="animal_id" />
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row my-3">
              <div class="col-1"></div>
              <div class="col-3 my-auto">備註</div>
              <div class="col-7">
                <input class="form-control" id="edit-remarks" type="text" name="remarks" />
              </div>
              <div class="col-1"></div>
            </div>
            <input type="hidden" id="edit-image_uuid" name="image_uuid" value="" />
            <input type="hidden" id="edit-image_id" name="image_id" value="" />
            <input type="hidden" id="edit-page_info" name="page_info" value="" />
          </form>
        </div>
        <div class="modal-footer edit-footer">
          <a class="btn btn-outline-success" data-bs-dismiss="modal">取消</a>
          <a class="btn btn-orange edit-submit">儲存</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Info Modal 
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title title-dark">計畫基本資訊</h5>
          {% if is_authorized %}
          <a class="btn btn-outline-success ms-2" href="{% url 'edit_project_basic' pk %}"><i class="fa fa-xs fa-pencil"></i> 計畫管理</a>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-borderless">
            <tr>
              <td class="px-3">委辦單位</td>
              {% if project_info.1 != None and project_info.1 != 'None' %}
              <td class="text-gray">{{ project_info.1 }}</td>
              {% else %}
              <td></td>
              {% endif %}
            </tr>
            <tr>
              <td class="px-3">計畫編號</td>
              {% if project_info.1 != None and project_info.2 != 'None' %}
              <td class="text-gray">{{ project_info.2 }}</td>
              {% else %}
              <td></td>
              {% endif %}
            </tr>
            <tr>
              <td class="px-3">計畫主持人</td>
              {% if project_info.1 != None and project_info.3 != 'None' %}
              <td class="text-gray">{{ project_info.3 }}</td>
              {% else %}
              <td></td>
              {% endif %}
            </tr>
            <tr>
              <td class="px-3">計畫時間</td>
              <td class="text-gray">{{ project_info.4 }} 至 {{ project_info.5 }}</td>
            </tr>
            <tr>
              <td class="px-3">相機樣點運作及缺失比例</td>
              <td><a class="oversight text-green text-decoration-none" href="{% url 'project_oversight' pk %}">查看</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  -->

  <!-- Download Modal -->
  <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title title-dark">下載篩選資料</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>檔案為離線產生，處理完成後，系統會寄下載資訊到您輸入的電子郵件信箱。如未收到信件，請檢查您的郵件設定，如仍未收到信件，請聯絡我們。</p>
          <p>請輸入您的電子郵件：</p>
          <div class="d-flex justify-content-start">
            <input class="form-control w-75" type="text" id="download-email" />
            <svg id="email-check" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightgrey" class="bi bi-check my-auto" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
            </svg>
            <button class="ms-1 btn btn-outline-success download" disabled>送出</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p class="fs-20">確定刪除？</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
          <a class="btn btn-danger" id="deleteData">刪除</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %} {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/selectize.min.js" integrity="sha512-JiDSvppkBtWM1f9nPRajthdgTCZV3wtyngKUqVHlAs0d5q72n5zpM3QMOLmuNws2vkYmmLn4r1KfnPzgC/73Mw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/project_detail.js' %}"></script>

  {% endblock script %}
</div>
