{% extends 'base/base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/project_info.css' %}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<!-- plot -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

{% endblock head %}
{% block body %} {% csrf_token %}
<input type="hidden" name="pk" value="{{ pk }}"></input>
<div class="container content">
    {% if is_project_authorized or is_project_public %}
    <div class="panel panel-project">
        <div class="panel-body">
            <div class="row mb-3">
                <div class="col-9">
                    <h1 class="title-dark mt-0 mb-2">{{ project.name }}</h1>
                </div>
                <div class="col-3 text-end">
                    <a class="btn btn-outline-success" href="{% url 'project_detail' pk %}"><i class="fa fa-xs fa-search"></i> 查看影像</a>
                    {% if is_authorized %}
                    <a class="btn btn-outline-success" href="{% url 'edit_project_basic' pk %}"><i class="fa fa-xs fa-pencil"></i> 計畫管理</a>
                    {% endif %}
                </div>
            </div>
            <!--
            <div class="row mb-2">
                <div class="col-12">
                <a class="btn btn-outline-success" href="{% url 'project_detail' pk %}"><i class="fa fa-xs fa-search"></i> 查看影像</a>
                {% if is_authorized %}
                <a class="btn btn-outline-success" href="{% url 'edit_project_basic' pk %}"><i class="fa fa-xs fa-pencil"></i> 計畫管理</a>
                {% endif %}
                </div>
            </div>
            -->
            <div class="row">
                <div class="col-6">
                    <div class="row mb-2">
                        <div class="col-sm-4 col-md-3 text-gray">委辦單位</div>
                        <div class="col-sm-8 col-md-9">{{ project.funding_agency|default_if_none:"" }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 col-md-3 text-gray">計畫編號</div>
                        <div class="col-sm-8 col-md-9">{{ project.code|default_if_none:"" }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 col-md-3 text-gray">計畫主持人</div>
                        <div class="col-sm-8 col-md-9">{{ project.principal_investigator|default_if_none:"" }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 col-md-3 text-gray">計畫時間</div>
                        <div class="col-sm-8 col-md-9">{{ project.start_date|date:'o-m-d' }} 至 {{ project.end_date|date:'o-m-d' }} </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-md-6 text-gray">資料下載</div>
                        <div class="col-sm-6 col-md-6">
                            <a class="oversight text-green text-decoration-none pointer" data-bs-toggle="modal" data-bs-target="#downloadModal">下載</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6 col-md-6 text-gray">相機樣點運作及缺失比例	</div>
                        <div class="col-sm-6 col-md-6"><a class="oversight text-green text-decoration-none" href="{% url 'project_oversight' pk %}">查看</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel tab-panel">
        <div class="panel-header">
          <ul class="nav-tab">
            <!--
            <li class="" id="identified-status">
                <a class="">影像回收/辨識狀況</a>            
            </li>-->
            <li id="identified-species">
                <a class="">已辨識物種</a>            
            </li>
          </ul>
        </div>
        <div class="panel-body">
            <div id="p-loader" class="loader d-none"></div> 
            <div class="tab-panel">
                <div class="tab-content active">
                    <!-- control bar -->
                    <div class="row control-bar">
                        <div class="col-3">
                        <div class="form-group row mb-0">
                            <label class="col-3 text-end">
                            樣區
                            </label>
                            <div class="col-9">
                            <select class="form-control sa-select filter">
                                <option value="all">全部</option>
                                {% for s in sa %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row mb-0">
                                <label class="col-3 text-end">
                                子樣區
                                </label>
                                <div class="col-9">
                                <select class="form-control subsa-select filter">
                                    <option value="all">全部</option>
                                </select>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-3">
                            <div class="form-group row mb-0">
                                <label class="col-4 text-end">
                                    起始日期
                                </label>
                                <div class="col-8">
                                    <input type="date" class="form-control filter" name="start_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row mb-0">
                                <label class="col-4 text-end">
                                    結束日期
                                </label>
                                <div class="col-8">
                                    <input type="date" class="form-control filter" name="end_date">
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                    <!-- content -->
                    <div class="row map-container">
                        <div class="col-5">
                            <div id="map" class="project-map mx-3">
                            </div>
                            <div class="checkbox__container checkbox mx-3 my-2">
                                <!--
                                <div>
                                  <input type="checkbox" class="form-check-input" name="show-species" id="show-species">
                                  <label for="show-species">顯示物種</label>
                                </div>
                                -->
                                <div>
                                  <input type="checkbox" class="form-check-input" name="show-woods" id="show-woods" />
                                  <label for="show-woods">在地圖顯示林班地範圍</label>
                                </div>
                                <div>
                                    <img class="marker-icon" src='{% static "icon/marker-icon-error.png" %}'> 樣區
                                    <img class="marker-icon" src='{% static "icon/marker-icon.png" %}'> 相機位置
                                </div>
                            </div>
                            <div class="species-map-legend mx-3 mt-1 mb-2 text-end d-none">
                                <i class="fa fa-xs fa-circle species-color-1"></i> < 500
                                <i class="fa fa-xs fa-circle species-color-2"></i>  >= 500
                                <i class="fa fa-xs fa-circle species-color-3"></i>  >= 1000
                                <i class="fa fa-xs fa-circle species-color-4"></i>  >= 5000
                                <i class="fa fa-xs fa-circle species-color-5"></i>  >= 10000
                            </div>            
                        </div>
                        <div class="col-7">
                            <h1 class="m-0 species-pie">
                                <span id="sa-title">全部樣區</span>已辨識物種<span id="species-count-title" class="title-dark">{{ species_count }}</span>種
                            </h1>
                            <small class="text-secondary mt-2 species-pie">最後更新時間：<span id="species_last_updated">{{ species_last_updated|date:'o-m-d' }}</span></small>
                            <h1 class="m-0 species-map d-none">
                                <span id="species-map-title"></span>共有<span id="species-map-count-title" class="title-dark"></span>筆辨識紀錄
                            </h1>
                            <small class="text-secondary mt-2 species-map d-none">最後更新時間：<span id="species_last_updated">{{ species_last_updated|date:'o-m-d' }}</span></small>
                            <p class="text-gray link text-decoration-none species-map d-none my-2" id="updateSpeciesPie"><i class="fa fa-chevron-left w-12"></i> 返回</p>

                            <div class="row ">
                                <div class="col-7" id="species-pie"></div>
                                <div class="col-5" id="species-percentage"></div>
                                <div class="col-12 d-none species-map mt-3" id="species-map-stat"></div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        您的權限不足
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <a class="btn btn-outline-success" href="{% url 'project_overview' %}">回上一頁</a>
    {% endif %}
</div>

<!-- Download Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title title-dark">下載資料</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>檔案為離線產生，處理完成後，系統會寄下載資訊到您輸入的電子郵件信箱。如未收到信件，請檢查您的郵件設定，如仍未收到信件，請聯絡我們。</p>
        <p>請輸入您的電子郵件：</p>
        <div class="d-flex justify-content-start">
        <input class="form-control w-75" type="text" id="download-email" onkeyup="ValidateEmail(this.value)" />
        <svg id="email-check" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightgrey" class="bi bi-check my-auto" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
        </svg>
        <button class="ms-1 btn btn-outline-success download">送出</button>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock body %} 
{% block script %}
<script src="{% static 'js/project_info.js' %}"></script>
{% endblock script %}

