{% extends 'base/base.html' %} {% block head %} {% load static %} {% endblock head %} {% block style %}
<link href="{% static 'css/contact_us.css' %}" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %} 

{% block title %}聯絡我們 | {% endblock title %}


{% block body %}
<div class="container content">
  <div class="row mb-10">
    <h4 class="title-dark">聯絡我們</h4>
  </div>
  <div class="row">
    <p>對於 Camera Trap 的使用有任何問題或回饋嗎？請描述您遇到的狀況，我們會盡快與您聯絡！</p>
    <div class="bg-white shadow px-0 mx-2 q-detail">
      <div class="m-4">
    <form id="submitForm" name="submitForm" action="{% url 'feedback_request' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        <div class="row py-3">
          <div class="col-2 text-end"><span class="required">*</span>問題類型</div>
          <div class="col-8">
            <input type="checkbox" class="mx-1 form-check-input" value="系統操作" name="q-detail-type" />系統操作 
            <input type="checkbox" class="mx-1 form-check-input" value="帳號相關" name="q-detail-type" />帳號相關 
            <input type="checkbox" class="mx-1 form-check-input" value="計畫管理" name="q-detail-type" />計畫管理 
            <input type="checkbox" class="mx-1 form-check-input" value="單機版軟體使用" name="q-detail-type" />單機版軟體使用 
            <input type="checkbox" class="mx-1 form-check-input" value="篩選與計算" name="q-detail-type" />篩選與計算 
            <input type="checkbox" class="mx-1 form-check-input" value="其他" name="q-detail-type" />其他
            <div class="invalid-feedback">
              必填欄位
            </div>    
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 text-end"><span class="required">*</span>問題描述</div>
          <div class="col-8">
            <textarea class="form-control w-100" name="description" placeholder="請詳述您的問題，我們將儘速與您聯繫"></textarea>
            <div class="invalid-feedback">
              必填欄位
            </div>    
            <p class="text-gray mt-2 mb-0 fs-13"> 建議您在問題回報中提供以下資訊，讓我們能更精確的為您提供幫助。</p>
            <ul class="text-gray mt-2 mb-0 ps-4 fs-13">
              <li>明確且詳細的問題說明</li>
              <li>重現問題狀況的確切步驟</li>
              <li>出現問題的螢幕截圖或影片連結 (建議)</li>
              <li>您認為可能對找出和解決問題有幫助的所有其他資訊</li>
            </ul>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 text-end"><span class="required">*</span>您的電子郵件</div>
          <div class="col-8">
            <input class="form-control w-100" type="text" name="email"/>
            <div class="invalid-feedback">
              電子郵件格式錯誤
            </div>    
            <p class="text-gray mt-2 mb-0 fs-13"> 我們將透過電子郵件與您聯繫此問題的相關事宜，您的電子郵件不會被分享，或用於任何其他用途。</p>
          </div>
        </div>
      </form>

        <div class="row py-3">
          <div class="col-2 text-end">附件</div>
          <div class="col-8">
            <div id="f_div">
            </div>
            <input type="file" name="uploaded_file" class="d-none" multiple id="f-upload" accept=".csv, .tsv, .tab, .txt, .xls, .xlsx, .jpg, .png, .mp4, .avi,.mov, .mpg, .mpeg" /> 
            <a class="btn btn-outline-success" id="upload-btn">添加附加檔案</a>
            <p class="text-gray mt-2 mb-0 fs-13">附加螢幕截圖、資料、圖片或影片檔案
              (.csv, .tsv, .tab, .txt, .xls, .xlsx, .jpg, .png, .mp4, .avi,
              .mov, .mpg, .mpeg) ，附件容量總上限為 20 MB。
            </p>
            <ul id='f-list' class="mt-2"></ul> 
            {% if not request.session.is_login %}
            {% endif %}
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 text-end"></div>
          <div class="col-8">
            <div class="g-recaptcha" data-sitekey="6LflNsoeAAAAAPOjFMMa3ROkaJV6KsEcKGrlNWyj"></div>
            <div class="invalid-feedback">
              送出前請進行驗證
            </div>    
          </div>
        </div>
      </div>
    </div>
    <div class="px-0 mx-2 mt-3 text-end">
        <a class="btn btn-orange submit">確認送出</a>
    </div>

    </div>
  </div>

  {% endblock body %} {% block script %}
  <script src="{% static 'js/contact_us.js' %}"></script>
  {% endblock script %}
</div>
