{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}單機版下載 | {% endblock title %}


{% block body %}
<div class="main-box">
    <div class="main-title">
        <h2>單機版下載</h2>
    </div>



    <div class="member-fucbox ">
        <div class="titlebox">
            <div class="line-g"></div>
            <h2>版本號：v1.1.0</h2>
        </div>
        <div class="cont-area dowload">
            <h3 class="light-green marb_10">版本更新說明</h3>
            <p>1. 調整頁數顯示問題（可顯示第36頁之後的資料），並可選擇單頁呈現資料筆數</p>
            <p>2. 匯出資料功能問題調整</p>
            <p>3. 說明頁改為以彈出視窗顯示</p>
            <p>4. 其他操作與上傳bug調整</p>
            <br>
            <p>
                如您有編輯中或預計會再調整欄位內容的舊資料，欲將資料移至新版單機軟體中編輯與上傳的話，
                相關資料移動說明如下：<br><br>
            </p>
            <p>
                移動舊版單機軟體資料夾中的 thumbnails 資料夾(縮圖檔) 跟 ct.db (資料庫檔)至新版單機軟體資料夾，如原本的資料庫檔名稱非「ct」，則一律更名為 ct。
                若是已上傳的資料夾，則無法於新版單機軟體上再次上傳，建議先於舊版單機軟體完成上傳、尚未上傳之資料夾再於新版單機軟體上使用。
            </p>
            <div class="dowload-area">
                <p>下載連結</p>
                <a target="_blank" href="/media/desktop/desktop.zip">點此下載</a>
            </div>
        </div>
    </div>


</div>
{% block script %}
{% endblock script %}
{% endblock body %}