{% extends 'base/base.html' %} {% block head %} {% load static %} {% endblock head %} {% block style %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">

{% endblock %} {% block body %}
<div class="container content">
  <div class="row mb-10">
    <div class="col-2">
      <h4 class="title-dark">常見問題</h4>
      <nav class="py-2 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link nl active" data-type="web"> <i class="fa fa-xs fa-circle px-2 py-auto"></i> 網頁操作 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" data-type="account"> <i class="fa fa-xs fa-circle px-2 py-auto"></i> 帳號相關 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nl" data-type="project"> <i class="fa fa-xs fa-circle px-2 py-auto"></i> 計畫管理 </a>
          </li>
          {% comment %}
          <li class="nav-item">
            <a class="nav-link nl" data-type="standalone"> <i class="fa fa-xs fa-circle px-2 py-auto"></i> 單機版軟體操作 </a>
          </li>
          {% endcomment %}
          <li class="mt-2 text-gray fs-14">仍需要協助嗎？ <a class="btn btn-sm btn-outline-success" href="{% url 'contact-us' %}">聯絡我們</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-10">
      <div class="bg-white shadow px-0 mx-2">
        <p class="backgroud-dark text-white fw-bold px-3 py-2 mb-0 faq-title">網頁操作</p>
        <div class="faq-content"></div>
      </div>
    </div>
  </div>
</div>

{% endblock body %} {% block script %}<script src="{% static 'js/faq.js' %}"></script>
{% endblock script %}
