{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<!-- plot -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<link href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock head %} {% block body %}
<div class="container-fluid">
  <div class="row banner">
    <div class="banner-div">
      <h1 class="banner-1">臺灣自動相機資訊系統</h1>
      <h1 class="banner-2">Taiwan Camera Trap Information System</h1>
      <br />
      <a class="btn btn-orange banner-a" href="{% url 'project_overview' %}"> 開始使用 </a>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <!-- MAP -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h6 class="title-light map-explore">點擊地圖區塊進行資料探索</h6>
      <div id="map"></div>
    </div>
    <div id="map-info" class="col-xs-12 col-sm-12 col-md-6 text-right mt-5 d-none">
    </div> 
    <div id="default-info" class="col-xs-12 col-sm-12 col-md-6 text-end mt-5 pt-3">
      <h1 class="title-light">自動相機資料庫</h1>
      <h2 class="title-dark">共享的資料平台</h2>
      <p class="text-gray text-start">Camera Trap提供研究人員自動相機影像統一倉儲、管理、 查詢及分析的便利性，透過公開資源的共享，與其他專業人士交流、探索生態與開創更多研究可能性。</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h3 class="title-light text-center">資料成長數</h3>
      <hr class="home-hr" />
      <div id="data_growth" class="mx-auto"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h3 class="title-light text-center">物種數</h3>
      <hr class="home-hr" />
      <div id="species_data" class="mx-auto"></div>
    </div>
  </div>
  <div class="row pt-5">
    <h1 class="title-dark text-center">減少相機資料處理時間，提升工作效率</h1>
  </div>
  <div class="row pt-4">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="image">
        <img src='{% static "image/service-1.png" %}' />
      </div>
      <div class="text-center">
        <h2 class="title-dark">資料彙整</h2>
        <p class="description">資料雲端留存，統一管理</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="image">
        <img src='{% static "image/service-2.png" %}' />
      </div>
      <div class="text-center">
        <h2 class="title-dark">資料處理</h2>
        <p class="description">辨識物種、標註及分析</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="image">
        <img src='{% static "image/service-3.png" %}' />
      </div>
      <div class="text-center">
        <h2 class="title-dark">資料共享</h2>
        <p class="description">開放科學，資源共享共用</p>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <a class="btn btn-orange mx-auto start-btn" href="{% url 'project_overview' %}">立即開始使用</a>
  </div>
</div>
<script src="{% static 'js/home.js' %}"></script>

{% endblock body %} 