{% extends 'base/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/permission.css' %}">
{% endblock head %}
{% block style %}
{% endblock %}
{% block body %}
{% if is_authorized %}
<div class="container content">
    <div class="row mb-10">
        <h4 class="title-dark">權限管理</h4>     
    </div>
        <div class="row">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2">單位計畫總管理人</p>        
                <form id="addOrgAdmin" action="{% url 'set_permission' %}" method="post">
                    {% csrf_token %}
                    <div class="row py-3 d-flex justify-content-between">
                        <div class="col-2 my-auto text-end">
                            加入成員
                        </div>
                        <div class="col-4 my-auto">
                            <select class="selectpicker form-control" title="請輸入成員ORCiD或電子郵件" data-width="100%" data-style="btn-new" data-live-search="true" name="user">
                                {% for i in member_list %}
                                    {% if i.email == None %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% else %}
                                        <option value="{{ i.id }}">{{ i.name }}({{ i.email }})</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1 my-auto text-end">
                            單位
                        </div>
                        <div class="col-3 my-auto">
                            <select class="selectpicker form-control" data-width="100%" data-style="btn-new" name="organization">
                                {% for i in org_list %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 my-auto">
                            <a class="btn btn-orange" id="submitAddForm">加入</a>
                        </div>
                    </div>
                    <input type="hidden" name="type" id="type" value="add_admin">
                </form>
                <form id="editProjectMember" novalidate action="" method="post">
                    <div class="row my-2 mt-4">
                        <table class="table table-striped mx-auto w-90">
                            <thead>
                                <tr>
                                    <td class="w-20">計畫成員</td>
                                    <td class="w-35">電子郵件</td>
                                    <td class="w-35">單位</td>
                                    <td class="w-10"></td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in org_admin_list %}
                                <tr class="align-middle">
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.organization__name }}</td>
                                    <td class="text-end">
                                        <a class="btn btn-outline-secondary remove" data-id="{{ i.id }}"  data-type="remove_admin"  data-bs-toggle="modal" data-bs-target="#removeModal">移除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-3">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2">單位計畫</p>
                <form id="addOrgProject" novalidate action="{% url 'set_permission' %}" method="post">
                    {% csrf_token %}
                    <div class="row py-3 d-flex justify-content-between">
                        <div class="col-2 my-auto text-end">
                            加入計畫
                        </div>
                        <div class="col-4 my-auto">
                            <select class="selectpicker form-control" title="請輸入計畫名稱" data-width="100%" data-style="btn-new" data-live-search="true" name="project">
                                {% for i in project_list %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1 my-auto text-end">
                            單位
                        </div>
                        <div class="col-3 my-auto">
                            <select class="selectpicker form-control" data-width="100%" data-style="btn-new" name="organization">
                                {% for i in org_list %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 my-auto">
                            <a class="btn btn-orange" id="addOrgProjectClick">加入</a>
                        </div>
                    </div>
                </form>
                <form id="editProjectMember" novalidate action="" method="post">
                    <div class="row my-2 mt-4">
                        <table class="table table-striped mx-auto w-90">
                            <thead>
                                <tr>
                                    <td class="w-30">單位</td>
                                    <td class="w-50">計畫名稱</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in org_project_list %}
                                    <tr class="align-middle">
                                        <td class="w-30">{{ i.organization_name }}</td>
                                        <td class="w-50">{{ i.project_name }}</td>
                                        <td class="text-end">
                                            <a class="btn btn-outline-secondary remove" data-id="{{ i.relation_id }}" data-type="remove_project" data-bs-toggle="modal" data-bs-target="#removeModal">移除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>確定移除？</h4>
                <form id="removeBtn" novalidate action="{% url 'set_permission' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="">
                <input type="hidden" name="type" id="type" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <a class="btn btn-danger" id="removeBtnClick">移除</a>
            </div>
        </div>
    </div>
</div>


{% else %}
<div class="container">
<a class="btn btn-outline-success" id="goBack" >回上一頁</a></div>
{% endif %}
{% endblock body %}

{% block script %}
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/permission.js' %}"></script>
{% endblock script %}
