{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<style>
    input {
            border: 1px solid #cccccc 
        }
</style>
{% endblock %}
{% block body %}
{% if first_login == True %}
    <div class="container" style="margin-top: 30px">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        首次登入請填寫完整資訊
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
{% endif %}
<div class="container content">

{% if request.session.is_login == True %}
    <div class="row" style="margin-bottom: 10px">
        <h4 class="title-dark">設定</h4>     
    </div>
    <form action="{% url 'personal_info' %}" class="needs-validation" novalidate method="post">
    {% csrf_token %}
        <div class="row">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2">帳號設定</p>        
                <div class="row py-3">
                    <div class="col-2 my-auto text-end"><span class="required">*</span>帳號連結：</div>
                    <div class="col-4">
                            <a class="btn btn-light" href="https://orcid.org/my-orcid">
                                已連結至ORCID 帳號 <img class="m-auto" style="height: 20px" src="{% static 'icon/orcid.png' %}">
                            </a>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-2 my-auto text-end">使用者名稱：</div>
                    <div class="col-4"><input class="form-control" type="text" style="width: 100%;" value="{{ info.name }}" name="name" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-2 my-auto text-end">電子郵件：</div>
                    {% if info.email == None %}
                    <div class="col-4"><input class="form-control" type="text" style="width: 100%;" name="email" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                    {% else %}
                    <div class="col-4"><input class="form-control" type="text" style="width: 100%;" value="{{ info.email }}" name="email" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3 px-0">
            <div class="text-end px-0">
                <input class="btn btn-success" type="submit" value="儲存">
            </div>
        </div>
    </form>
    {% endif %}

</div>
{% block script %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock script %}
{% endblock body %}