{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/personal_info.css' %}">
{% endblock %}
{% block body %}
{% if first_login == True %}
    <div class="container mt-30">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        首次登入請填寫完整資訊
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
{% endif %}
<div class="container content">

{% if request.session.is_login == True %}
    <div class="row mb-10">
        <h4 class="title-dark">帳號設定</h4>     
    </div>
    <form action="{% url 'personal_info' %}" class="needs-validation" novalidate method="post">
    {% csrf_token %}
        <div class="row">
            <div class="bg-white shadow px-0 pb-5 mx-2">
                <p class="backgroud-dark text-white fw-bold px-3 py-2">個人資訊</p>        
                <div class="row py-3">
                    <div class="col-2 my-auto text-end"><span class="required">*</span>帳號連結：</div>
                    <div class="col-4">
                            <a class="btn btn-light" href="https://orcid.org/my-orcid">
                                已連結至ORCID 帳號 <img class="m-auto h-20" src="{% static 'icon/orcid.png' %}">
                            </a>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-2 my-auto text-end">使用者名稱：</div>
                    <div class="col-4"><input class="form-control w-100" type="text" value="{{ info.name }}" name="name" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-2 my-auto text-end">電子郵件：</div>
                    {% if info.email == None %}
                    <div class="col-4"><input class="form-control w-100" type="text" name="email" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                    {% else %}
                    <div class="col-4"><input class="form-control w-100" type="text" value="{{ info.email }}" name="email" required>
                    <div class="invalid-feedback">
                    請填寫此欄位
                    </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row py-3">
                    <div class="col-2 my-auto text-end">身份種類：</div>
                        <div class="col-4">
                            <select class="selectpicker form-control" data-width="100%" data-style="btn-new">
                                <option value=""></option>
                                {% for i in identities %}
                                    <option value="{{ i.parametername }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 px-0">
            <div class="text-end px-0">
                <input class="btn btn-success" type="submit" value="儲存">
            </div>
        </div>
    </form>
    {% endif %}

</div>
{% block script %}
<script src="{% static 'js/personal_info.js' %}"></script>
{% endblock script %}
{% endblock body %}