{% extends 'base/base.html' %}
{% block head %}
{% load static %} {% endblock head %} {% block style %}
<link href="{% static 'css/upload_history.css' %}" rel="stylesheet">
{% endblock %} {% block body %}
<div class="container content">
  <div class="row mb-10">
    <h4 class="title-dark">上傳紀錄</h4>
  </div>
  <div class="row">
    <div class="bg-white shadow px-0 mx-2">
      <table class="t m-0">
        <thead>
          <tr>
            <th>建立時間</th>
            <th>最後更新時間</th>
            <th>上傳資料夾名稱</th>
            <th>所屬計畫</th>
            <th>樣區</th>
            <th>相機位置</th>
            <th class="pr-10">上傳結果</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if rows %}
            {% for i in rows %}
            <tr>
              <td>{{ i.0 }}</td>
              <td>{{ i.1 }}</td>
              <td>{{ i.2 }}</td>
              <td>{{ i.3 }}</td>
              <td>{{ i.4 }}</td>
              <td>{{ i.5 }}</td>
              <td class="pr-0">
                {% if i.6 == 'finished' %}
                <div class="flex-center">
                  已完成 <img class="up-icon ms-1" src="{% static 'icon/upload-success.png' %}" />
                  </div>
                {% elif i.6 == 'unfinished' %}
                <div class="flex-center">
                  未完成 <img class="up-icon ms-1" src="{% static 'icon/upload-fail.png' %}" />
                </div>
                <a class="setModal link error" data-deployment_journal_id="{{ i.8 }}" data-species_error="{{ i.9 }}" data-upload_error="{{ i.10 }}"
                >檢視錯誤</a>
                {% elif i.6 == 'uploading' %}
                <div class="flex-center">
                  上傳中 <img class="up-icon ms-1" src="{% static 'icon/upload-gray.png' %}" />
                </div>
                {% endif %}
              </td>
              <td class="pl-10">
                {% if i.2 != '' %}
                  <a class="link" href="{% url 'project_detail' pk=i.7 %}?folder={{ i.2 }}" target="_blank">查看</a>
                {% else %}
                  <a class="link" href="{% url 'project_detail' pk=i.7 %}" target="_blank">查看</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% else %}
          <tr>
            <td colspan="8">暫無紀錄</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title-dark" id=errorModalLabel">錯誤訊息</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="flex-center species-error">
          <img class="up-icon me-1" src="{% static 'icon/upload-fail.png' %}" /> 物種欄位未完整填寫
        </div>
        <div class="flex-center upload-error">
          <img class="up-icon me-1" src="{% static 'icon/upload-fail.png' %}" /> 影像未成功上傳
        </div>
        <div class="flex-center justify-content-end">
          <img class="me-1 up-icon" src="{% static 'icon/download-green.png' %}" /><a href="" class="link error-link">下載錯誤清單</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %} {% block script %}
<script src="{% static 'js/upload_history.js' %}"></script>

{% endblock script %}
